[2015-03-03 10:04] caiw opened #2 "Move to package structure"
Right now there is the potential for function name conflicts with other matlab code or toolboxes.

To mitigate this we can use [Matlab namespacing](http://www.mathworks.com/help/matlab/matlab_oop/scoping-classes-with-packages.html).

[2015-03-03 16:05] caiw commented on #2
I am working on this on the branch `move-to-package-structure`.  However there is a snag.

If a Matlab package directory (`+rsa/`) has subdirectories, their functions don't get included in the package.

I guess my "minimum working example" for packages was _too_ minimum, sorry.

There are some ways around this.

1. Functions to be addressed from recipe files live in `+rsa/` and the "engine" functi

[2015-03-03 20:25] caiw commented on #2
Option 3 was agreed over email. This is now in pr #4.

[2015-10-26 12:43] caiw commented on #7
Addressed in PR #8.

[2017-01-04 13:04] iancharest opened #10 "missing function : rsa.getSPMconditionVec"
[code]

Undefined variable "rsa" or class "rsa.getSPMconditionVec".
Error in rsa.runSearchlightLDC (line 65)
    [Opt.conditionVec,Opt.partition]=rsa.getSPMconditionVec(SPM,Opt.conditionLabels);

[2017-01-05 13:54] iancharest commented on #11
Does this function exist somewhere, or should I write one?

[2017-02-06 20:09] nejaz1 commented on #11
Until it gets fixed in the github repository, you can get the addstruct function here: https://github.com/jdiedrichsen/dataframe

[2017-02-07 11:34] iancharest commented on #11
Thanks! had found it there actually. we should add it to the masters tho.

[2017-02-07 18:28] iancharest opened #12 "clean up all redundant data saving"
include a "study" userOptions to complement the analysis userOptions, this way we don't write down redundant data for each novel analysis.

[2017-03-14 11:28] iancharest commented on #12
completed ready for merge. see commit 9ea3d38.

[2017-03-14 11:28] #12 closed

[2017-03-14 11:28] iancharest commented on #13
fixed in commit 9ea3d38.

[2017-03-14 11:53] iancharest commented on #7
this should have been merged now .closing.

[2017-04-21 10:40] iancharest commented on #2
this issue should be closed as this has been done and merged. closing now. reopen if anything.

[2017-04-21 10:40] #2 closed

[2017-04-25 16:40] iancharest commented on #15
Hi Veda,

not sure you solved this actually, but this seems like the size of the searchlightRDMs array that matlab is trying to pre-allocate is very large. by the numbers you submit, it sounds like the code thinks that you have 240 conditions (and not 6 like you mention). It tries to create a searchlightRDMs  structure of 240x240 x dimx x dimy x dimz, and complains that you don't have enough RAM o

[2017-04-25 16:41] iancharest opened #16 "rsa.compareRefRDM2candRDMs bug with case 'randomisation' when nan in models"
[code]

            allPermutations = exhaustivePermutations(n);

The bug comes in the randomisation and seems to be driven by the fact that one of the model rdms had nans in it.

Should the possibility of having nans in the model RDMs be added to the toolbox?

[2017-04-27 07:35] mike21499 opened #17 ".img and .nii files"
Hi there

When using 'SPM' for data preparation, the current version only supports .img-files, so I get e.g the error:

Gathering scans.
Reading beta volumes for subject number 1 of 1: P15Error using spm_vol>spm_vol_hdr (line 80)
File "X:\directory\beta_0001.img" does not exist.

Where can I change the code so that it accepts e.g. "beta_0001.nii" ?

many thanks for help!

[2017-05-14 12:24] caiw opened #18 "exhaustivePermutations"
The function exhaustivePermutations is referenced in compareRefRDM2candRDMs but is not to be found in the toolbox.

[2017-05-14 12:31] caiw opened #20 "Alexis Pérez's reported bugs"
The following was submitted to me some time ago by Alexis Pérez of Baylor College of Medicine, and I never had a chance to go over it in detail.

Alexis suggested some fixes, but we should verify that they function as intended.

This was reported by Alexis in response to me sending him a file to fix another bug ( issue #18 ).

[2017-05-19 16:22] lisadandolo opened #21 "Question about using multiple reference RDMs and multiple candidate RDMs for signed-rank test"
I would like to base my model RDMs on the behavioral data of each subject. I have transformed my behavioral data into individual model RDMs. Now I would like to use these model RDMs (one for each subject) as reference RDM and then RDMs from different ROIs as candidate RDMs. However, when I have multiple reference RDMs, the toolbox then averages multiple instances of any candidate RDM (toolbox comm

[2017-09-11 09:54] #18 closed

[2018-09-13 14:29] jason-taylor commented on #33
I'll see what I can do.

[2018-09-13 14:29] iancharest commented on #33
in rsatoolbox/+rsa/+fmri/fMRISearchlightModelComparison.m at lines: 126, 220, 223.

[2018-11-28 12:18] PalomaManguele commented on #17
Hi,

Have you managed to solve this? I am encountering the same problem. I guess we should change the code on spm_vol?

Thanks

[2018-12-21 02:51] avrvaidya commented on #35
Hi RSA Toolbox Team,

I'd like to second Andres's concern about the new version of noiseNormalizeBeta. The new (October, 2018) version of this function returns complex values for the betas. However, this problem wasn't resolved for me by removing the motion regressors from the Bcov matrix like Andres suggested.

I reverted the code to the prior version from 2015 and found that it gave much more se

[2019-04-15 07:53] hanme opened #38 "missing implementation for conditionRFXbootstrap option in userOptions.candRDMdifferencesTest in compareRefRDM2candRDMs.m"
"conditionRFXbootstrap" is described as one of the options of userOptions.candRDMdifferencesTest  (line 215, testing pairs of candidate RDMs against each other). In the code implementing conditionRFXbootstrap for candRDMdifferencesTest  (line 737-828) conditionRFXbootstrap is described in lines 800-821. So this all works fine and there is no problem.

However, "conditionRFXbootstrap" is also descr

[2019-10-07 13:04] JasperVanDenBosch opened #3 "sample unit test"
Create a trivial test so we can test the test commands :p

[2019-10-07 13:20] JasperVanDenBosch opened #5 "basic sphinx documentation outline and configuration"
- index page
- conf file

[2019-10-07 13:21] JasperVanDenBosch opened #6 "sphinx autogen configuration"
- should read google style docstrings
- teach it about package structure

[2019-10-07 13:21] JasperVanDenBosch opened #7 "basic travis CI setup"
simple travis configuration to
- run tests
- run linter
- pypi

[2019-10-09 17:39] JasperVanDenBosch opened #9 "setup readthedocs integration"

[2019-10-09 18:43] #3 closed, assigned to JasperVanDenBosch

[2019-10-09 18:43] #7 closed, assigned to JasperVanDenBosch

[2019-10-09 20:20] JasperVanDenBosch opened #11 "support for displaying math special characters and formulas in documentation"
Perhaps use math directive:

http://docutils.sourceforge.net/docs/ref/rst/directives.html#math

[2019-10-09 20:25] JasperVanDenBosch commented on #11
or use *mathjax* but not sure if this works on RTD

[2019-10-09 22:03] JasperVanDenBosch opened #13 "Choose a license"
https://github.com/rsagroup/pyrsa/community

[2019-10-10 15:28] #5 closed, assigned to JasperVanDenBosch

[2019-10-10 15:28] #6 closed, assigned to JasperVanDenBosch

[2019-10-10 15:28] #9 closed, assigned to JasperVanDenBosch

[2019-10-10 15:34] JasperVanDenBosch opened #14 "API docs model package missing module contents"
Perhaps something to do with imports on rtd

[2019-10-10 18:08] JasperVanDenBosch opened #15 "have to format coverage report as xml"
[code]

[2019-10-17 12:18] JasperVanDenBosch opened #19 "RDM colormap"
can import from Charestlab/pyrsa

[2019-10-19 07:54] doerlbh commented on #19
I think this is a great idea.

[2019-10-19 19:24] iancharest commented on #19
fixed with 6ebc632

[2019-10-19 19:24] #19 closed, assigned to iancharest, lajnd

[2019-10-20 02:04] #13 closed, assigned to nobody

[2019-10-22 18:15] HeikoSchuett opened #22 "Implement dataset 3D handling"
integrates the TODOs from dataset.py

[2019-10-22 18:35] HeikoSchuett commented on #22
As a question on how to implement splitting etc.: Are we going to return a list of dataset objects or a 3D dataset by default? both would work

[2019-10-22 21:47] doerlbh commented on #22
As discussed and seconded in pull request #16 , the current decision is to return a DatasetList or DatasetSequence class object with the base of a list of dataset objects. The 3D handling task is currently a low-priority task which will be further developed in the next iteration. Thanks for starting the thread.

[2019-11-01 17:39] saarbuckle opened #23 "Indicator module only handles row vectors"
My understanding is that the `index_vector` passed to any function in `indicator.py` is a column vector (of same size as the number of rows in `data.measurements`), but it seems the indicator functions only work with row vectors.
Given my limited python experience, I don't see a fully satisfactory fix to allow dynamic handling of row or column vectors. Any insights? Or should we always assume a sp

[2019-11-01 20:38] saarbuckle commented on #23
I should be more clear about why I've raised this issue. This is easily fixed, but the question is whether this fix should be a dimension check (which would have to be applied for each function call, which sounds cumbersome), or should it be a clearly-articulated assumption?

[2019-11-01 20:40] doerlbh opened #24 "Implement DatasetList options (including sliding window operations)"
As discussed and seconded in pull request #16 , one design decision is to have a supplementary class called DatasetList object with the base of a list of dataset objects. This include implementation of other principled segmentation operations such as sliding window for dynamic analysis.

[2019-11-01 20:41] doerlbh commented on #22
The 3D option is removed from the current development and will be future included in the DatasetList implementation including principled operations such as sliding window.

[2019-11-01 20:41] #22 closed, assigned to nobody

[2019-11-01 20:41] iancharest commented on #23
I know @lajnd has been looking into some fixes for indicator.py

[2019-11-01 21:34] eberlot commented on #24
My understanding is that the DatasetList object should really be dealing with the dataset (2 / 3D) as provided (and possible splits / subsets). I can see that a sliding window analysis would be incorporated down the line, but I'm not sure this would be the most fitting place for it. It'd be good to hear thoughts of others.

[2019-11-01 21:39] doerlbh commented on #24
Thanks for the input! FYI, in the current setup, dataset is only allowed to be 2D. I think DatasetList could be a useful wrapper class to include additional extra dimension information, also as you pointed out, the current subset and splits are already outputting a list of Dataset, which could be later wrapped as a DatasetList. All discussions are welcome!

BTW, this line of implementation will no

[2019-11-01 23:42] eberlot commented on #23
Because there's been more commits since this issue was raise, I've also just now pushed another commit fixing an issue with allpairs (@saarbuckle and I noticed it was previously returning only zeros). But I think it would be good to resolve and decide whether we want indicator.py util to be able to deal with column and row vectors before any further work is done on indicator.py.

[2019-11-04 19:14] HeikoSchuett opened #25 "Implement basic RDM calculations from dataset"
At least:

- Euclidean distance
- Correlation distance
- Mahalanobis distance
- Crossnobis distance

[2019-11-04 19:17] HeikoSchuett opened #26 "Implement distances between RDMs"
At least:
- correlation distance
- rank correlation distance
- Kendal-Tau
- cosine distance

[2019-11-05 00:23] HeikoSchuett opened #28 "Stability to unbalanced designs"
The first implementations of the different rdm calculations largely assume that the rdms all have the same objects in them. We should change that if we want to be stable to unbalanced designs later

[2019-11-05 00:24] HeikoSchuett opened #29 "Batch processing of RDM calculation"
implementing a version which calculates RDMs for a list of dataset objects would be nice

[2019-11-05 18:18] HeikoSchuett commented on #23
As these functions are only taking vectors I would fix this by calling a single np.flatten() on the input once. Would that fix this issue?

[2019-11-07 17:44] JasperVanDenBosch opened #33 "Don't exclude tests from style checks"
https://codeclimate.com/repos/5d9b9be58feef31572014b94/settings/exclude_patterns/edit

[2019-11-08 13:59] iancharest opened #35 "Import issue"
[code]

[2019-11-08 14:00] iancharest commented on #35
I am getting this import error since one of the the latest merge.

[2019-11-08 16:00] HeikoSchuett commented on #35
for me these imports all work completely fine on the master branch:
Python 3.7.3 (default, Mar 27 2019, 16:54:48)
Type 'copyright', 'credits' or 'license' for more information
IPython 7.5.0 -- An enhanced Interactive Python. Type '?' for help.
In [1]: import pyrsa.rdm as rsr
In [2]: from pyrsa.util.data_utils import check_descriptors_dimension
In [3]: import pyrsa.util.indicator as indicator
In [4

[2019-11-08 16:22] HeikoSchuett opened #36 "implement more RDM types"
non-squared RDMs
normalization
from ordinal data

[2019-11-08 22:13] iancharest commented on #35
no, my system is ubuntu 18.04, working in a clean env.
i'll try and  create a new env and see if it fixes it. weird.
but we're messing with a lot of imports in ou r__init__ files which i've never had to do in the past.

[2019-11-08 22:26] iancharest commented on #35
hmm strange. i just created a brand new env, and still have import issues. the only thing i can see is i'm using 3.6.8 and you are using 3.7.3

[2019-11-08 22:35] HeikoSchuett commented on #35
hm indeed I just installed 3.6 in an environment and could now reproduce the problem:

[code]

[2019-11-08 23:08] HeikoSchuett commented on #35
I found a way to fix this by using relative imports in the subfolders, which seems to fix this. I will make a pull-request showing that.
I do not really understand why though. Please have a look when I put it up...

[2019-11-08 23:15] iancharest opened #37 "alternative to indicator allpairs if nconditions too large"
when dealing with a large number of conditions, e.g. with the natural scenes dataset, indicator will fail with a memory issue.

should we have a fallback plan to compute diff_1, and diff_2 the slow (but memory friendly) way if measurements1.shape[0] > something ?

[code]

[2019-11-08 23:25] iancharest commented on #35
yes your last commit on fix_import fixed it.

[2019-11-08 23:26] HeikoSchuett commented on #35
great! Then please approve/review that pull request :)

[2019-11-11 15:43] #25 closed, assigned to HeikoSchuett

[2019-11-13 13:32] iancharest opened #39 "alternative to np.corrcoef for correlation distance"
Hi @HeikoSchuett ,

given that we use einsum for all other RDM calc cases, I figured we could also use it for correlation distance. that speeds up performance massively compared to numpy corrcoef.

[code]

[2019-11-13 16:48] JasperVanDenBosch opened #40 "Unused imports are not reported by code climate"
[code]

[2019-11-13 17:09] HeikoSchuett commented on #39
Hi Ian,
sounds very sensible. We could then use the numpy implementation as the test in parallel to the euclidean implementation.
Could you start this as a pull request with the new implementation of the correlation distance build in?

[2019-12-09 19:24] JasperVanDenBosch opened #43 "various docstring issues"
[code]

[2019-12-09 19:44] JasperVanDenBosch commented on #11
https://build-me-the-docs-please.readthedocs.io/en/latest/Using_Sphinx/UsingMathEquationsInSphinx.html

[2019-12-09 20:15] JasperVanDenBosch commented on #11
Turns out mathjax is built in

[2019-12-10 22:15] #11 closed, assigned to JasperVanDenBosch

[2019-12-10 22:15] #14 closed, assigned to JasperVanDenBosch

[2019-12-10 22:15] #43 closed, assigned to JasperVanDenBosch

[2020-01-14 17:02] #39 closed, assigned to nobody

[2020-01-17 15:06] HeikoSchuett commented on #33
if you do this at some point this might be a good step to also go through the tests and clean them up a bit. For example using setup functions in the test cases, checking coverage etc.

[2020-02-25 17:11] #26 closed, assigned to HeikoSchuett

[2020-03-05 16:33] HeikoSchuett commented on #37
I want to bump this up, because I currently look at implementing the basic demo and for 92 stimuli the matrix based calculation is very slow!
according to the profiler the main culprit is the generation of the matrix

[2020-03-05 16:50] HeikoSchuett commented on #37
yes, indeed:
[code]
takes 1.5s on my computer

[2020-03-05 17:44] iancharest commented on #37
speed is an issue, but i think memory is an even bigger problem, try
[code]

[2020-03-05 17:53] iancharest commented on #37
one quick fix would be to declare indicator_matrix as type int 16. are we ever expecting anything else than zeros, ones and -1s?

[2020-03-05 19:42] HeikoSchuett commented on #37
well as it is coded now it could be fractions when there are multiple measurements for the same condition. Also this would only save a factor 2 or 4 compared to the float32/64 right?

With my change the 1000 contrast matrix can actually be calculated on my computer.
It is very slow and memory expensive still and we should probably switch to either a sparse matrix or calculating this entirely witho

[2020-03-05 20:37] iancharest commented on #37
ok, but by now by default this will be a float64, which is probably an overkill. float32 would make it half the size and should be plenty? (the difference between 3Gb or 1.5Gb in RAM is not small.
I wonder what the actual gain in speed is compared to doing the difference in a loop?

[2020-03-05 21:42] HeikoSchuett commented on #37
I guess that a loop is faster than the current implementation, at least for large numbers of conditions.
Overall I think: We need a way to do this better. And I think there should be ways to save much more than a factor of 2. For your example case this matrix has the size of 1000 rdms which should definitely be avoidable.

[2020-03-05 22:58] HeikoSchuett commented on #37
I now put in my sparse matrix implementation.
This takes a few seconds to calculate a 1000x1000 rdm from a 1000x1000 dataset. Is that acceptable?

[2020-03-10 01:05] HeikoSchuett opened #50 "Kendall-tau A"
We should implement Kendall-tau A

[2020-03-10 01:50] HeikoSchuett opened #53 "implement Jörns new methods"
I.e. at least the correlations which take the distribution for 0 rdms into account

[2020-03-10 01:53] HeikoSchuett commented on #29
Fixed by #51

[2020-03-10 01:53] #29 closed, assigned to nobody

[2020-03-10 01:53] #23 closed, assigned to nobody

[2020-03-11 21:12] HeikoSchuett opened #55 "Corrections for multiple testing for pairwise tests"
We should get the corrections for multiple testing implemented. So far there are none.

[2020-03-17 18:47] HeikoSchuett opened #57 "Implement save and load functions"
For datasets, RDMs and results

[2020-03-27 20:23] HeikoSchuett opened #60 "Bootstrapping over patterns-> nans instead of 0s"
Previous toolboxes set values for comparing stimuli to themselves to nan/ignore instead of 0s as pyrsa does currently. This appears sensible to avoid inflated model performance, as all models will predict 0s for those comparisons.

[2020-03-27 20:24] HeikoSchuett commented on #55
Methods we should have are:
FDR
FER
Bonferroni
permutation tests

[2020-04-02 10:20] #50 closed, assigned to nobody

[2020-04-02 11:34] HeikoSchuett commented on #37
closed by #49

[2020-04-02 11:34] #37 closed, assigned to nobody

[2020-04-14 13:45] HeikoSchuett opened #64 "implement spearman_a / random among equals"
The new/old correlation coefficient for rank correlations

[2020-04-28 07:48] #57 closed, assigned to nobody

[2020-04-28 07:50] #53 closed, assigned to nobody

[2020-05-07 13:13] HeikoSchuett opened #67 "add signed rank and t-test"

[2020-05-10 14:32] nkriegeskorte opened #68 "saving of results object fails (pyrsa.inference.result.Result)"
i tried to save a results object using its save method and it didn't immediately work.
i haven't investigated. here's the error and traceback...

  File "C:\Users\Niko Kriegeskorte\Google Drive\programming\pyRSA\pyrsa\demos\exercise_all.py", line 311, in <module>
    results_3_full.save('results_alexnetSim2')

  File "c:\users\niko kriegeskorte\google drive\programming\pyrsa\pyrsa\pyrsa\inference\

[2020-05-26 18:41] #68 closed, assigned to nobody

[2020-06-23 18:28] #60 closed, assigned to nobody

[2020-06-24 18:12] #64 closed, assigned to nobody

[2020-07-07 16:56] HeikoSchuett opened #72 "add function to plot images into axis"
should allow:
transparancy & circular aperture
size regulation
colored border
strings as replacements

[2020-07-07 17:15] iancharest commented on #72
I think Jasper had started such a function a while back...

On Tue, 7 Jul 2020, 17:56 Heiko Schütt, <notifications@github.com> wrote:

[2020-07-07 17:16] HeikoSchuett commented on #72
If you have a starting point for this lying around please share it of course

[2020-07-07 17:20] iancharest commented on #72
https://github.com/Charestlab/pyrsa/blob/master/pyrsa/graphics/imagesAsTickMarks.py

Not sure what state this is in...

On Tue, 7 Jul 2020, 18:16 Heiko Schütt, <notifications@github.com> wrote:

[2020-07-21 15:10] JasperVanDenBosch opened #79 "remove dummy test"
we don't need a dummy test anymore as we now have several regular tests

[2020-07-21 21:53] JasperVanDenBosch opened #80 "import meadows ma data as DataSet"
Should follow after #78

Instead of `RDMs` this creates `DataSet` objects. Could be used for various meadows tasks

- detection of file type
- ma trials could be an obs_desc
- scope: multiple tasks
- add descriptors from task
- add descriptors from stimuli
- scope: one participant / multiple (MA) tasks (json only)
- scope: multiple participants / multiple (MA) tasks (json only)

[2020-07-22 05:51] JasperVanDenBosch opened #81 "API reference doc contains link to non existing autodoc stub for pyrsa.simulation.sim"
Compiling the docs returns this:
[code]

[2020-07-31 18:08] charlesbmi opened #83 "Covariance matrix for Crossnobis dissimilarity"
I was looking at https://rsa3.readthedocs.io/en/latest/distances.html#crossnobis-dissimilarity , and noticed that the covariance matrix is not included.

Shouldn't the covariance matrix be included in a cross-validated Mahalanobis distance, too? https://en.wikipedia.org/wiki/Mahalanobis_distance

Not sure what this would look like in a cross-validated version.

[2020-07-31 19:03] HeikoSchuett commented on #83
This is purely a documentation issue, the crossnobis distance does indeed contain a reweighting with the precision matrix just as the Mahalanobis distance. This is also implemented in pyrsa.rdm.calc_*

[2020-08-01 18:56] adkipnis opened #84 "get_unique_unsorted() in data_utils.py resorts data incorrectly"
The code should be:
[code]
Otherwise the initial order of observation descriptors does not get restored.

[2020-08-03 09:08] HeikoSchuett commented on #84
Hi @adkipnis,

could you make a pull request with this code change and a test which fails for the current version?

[2020-08-04 18:22] #55 closed, assigned to HeikoSchuett

[2020-08-11 18:25] charlesbmi commented on #83
got it, thanks!

[2020-08-12 13:14] cosiwash opened #88 "Accessing the documentation"
Hello,
I cannot access the documentation with the steps provided under "documentation." Is there a way you could upload a PDF or another way to access the documentation?
Thank you,
CJ

[2020-08-12 13:19] HeikoSchuett commented on #88
The documentation is still somewhat partial, but you can access the current version here:
https://rsa3.readthedocs.io

[2020-08-12 13:38] #88 closed, assigned to nobody

[2020-08-12 22:02] mrinmayik commented on #21
Hello @lisadandolo,
I would like to implement a similar analysis using the searchlight procedure in the toolbox, where each participant has their own candidate RDM based on some behavioural criterion. Were you able to do this?
Thank you,
Mrinmayi

[2020-08-13 13:40] AdrianLeon51 opened #89 "fMRI data to pyrsa"
Hi,

In order to define our data set, could you please provide us with a step-by-step for how to import fMRI data an put it in the right format for the toolbox?

[2020-08-13 13:46] HeikoSchuett commented on #89
I am sure we will have such an example relatively soon, yes.

[2020-08-13 14:40] adkipnis commented on #89
@AdrianLeon51 in case you have nifti images as SPM output, you might find something useful in my repo:
https://github.com/adkipnis/fmri-simulations

We will work on code for importing fMRI data and pooling it into PyRSA datasets soon.

[2020-09-10 20:56] jooh commented on #72
I have something that works, but bumped into issues with bugs in Matplotlib auto cropping of figure limits last time I played with it:

https://github.com/jooh/sana/blob/503ceae47734fb047f7ecd4b0dc03763b05a49dd/sana/plot.py#L8-L76

Example output here:

https://github.com/matplotlib/matplotlib/issues/12699#issuecomment-435340497

[2020-09-15 11:46] JasperVanDenBosch opened #96 "fix RDMs.sort_by()"
The current version refers to a property called `measurements` which does not seem to be in use.

And when this is removed it is unclear how the following line:

[code]

would sort the pattern order

[2020-09-15 11:53] HeikoSchuett commented on #96
this measurements thing is indeed odd.
the line you refer to I think is correct though. There is a stack of matrices. the first subsetting reorders the rows, the second the columns.

[2020-09-15 12:06] JasperVanDenBosch commented on #96
It seems to come out with an extra dimension

[2020-09-15 12:13] HeikoSchuett commented on #96
ah yes, I just checked: the line below this should be:
self.dissimilarities = batch_to_vectors(dissimilarities)[0]
instead of
self.dissimilarities = batch_to_vectors(dissimilarities)

Sorry for this not working properly

[2020-09-15 12:14] JasperVanDenBosch commented on #96
no worries I'm making a test now and I'll commit to #78

[2020-09-16 16:24] doerlbh opened #98 "sklearn integration of weighted MDS"
To integrate the weighted MDS into the sklearn module, instead of maintaining it in pyRSA.
Reference PR#97: https://github.com/rsagroup/pyrsa/pull/97

[2020-09-16 19:27] doerlbh commented on #98
I just submitted a PR at sklearn at here: https://github.com/scikit-learn/scikit-learn/pull/18413

[2020-09-17 12:08] doerlbh commented on #84
This is a good observation, Alex. I just checked and approved your PR https://github.com/rsagroup/pyrsa/pull/85. Now it has two approvals. Can someone with authorization merge it? BTW, can I be granted the access to merge as well? Thanks!

[2020-09-17 12:19] #84 closed, assigned to nobody

[2020-09-17 12:50] doerlbh opened #100 "Reenable unit test, codeclimate and lint checks for all PR commits"
At this point, the automatic unit tests, codeclimate and lint style checks by GitHub doesn't seem to be working any more. Any experts looking into this would be appreciated.

It would be great to have them as a coding guideline for contributors, especially because eventually we will officially launch this software package to the general public.

[2020-09-17 13:30] Tal-Golan commented on #24
Switching `measurements` from a numpy array to an xarray DataArray can allow Dataset to represent arbitrary N-D array data without considerably changing the existing code. http://xarray.pydata.org/en/stable/

[2020-09-17 14:40] #96 closed, assigned to JasperVanDenBosch

[2020-09-17 15:15] JasperVanDenBosch opened #104 "ignore docs/source/_build"
this path generated by sphinx is currently show, instead we are ignoring `docs/source/build`

[2020-09-17 15:17] JasperVanDenBosch commented on #104
done

[2020-09-17 15:17] #104 closed, assigned to nobody

[2020-09-17 16:20] caiw opened #105 "Scatterplot of RDM dissimilarities"

[2020-09-17 16:56] JasperVanDenBosch opened #107 "Notebook to Sphinx conversion?"

[2020-09-17 17:20] JasperVanDenBosch commented on #107
https://nbsphinx.readthedocs.io/en/0.7.1/

[2020-09-17 19:49] JasperVanDenBosch opened #109 "start AUTHORS file"

[2020-09-17 20:51] JasperVanDenBosch commented on #109
`git shortlog -se`

[2020-09-18 08:44] #107 closed, assigned to nobody

[2020-09-18 08:56] JasperVanDenBosch opened #115 "fix readthedocs"
- use a config file
- separate docs requirements file, requiring ipykernel and nbsphinx etc

[2020-09-18 15:44] saarbuckle opened #123 "RDM pattern_descriptors- not auto generated"
The RDM pattern_descriptors field seems to be incorrect in its current form. There should be one descriptor per RDM value, and ideally they contain info about the condition pair (e.g. condition 1 vs 2) that the according dissimilarity value in the RDM reflects. However, these are not auto-generated, and instead contain an index of size # conditions.

I don't think the user should be responsible fo

[2020-09-18 15:48] HeikoSchuett commented on #123
Well the descriptors as they are right now are intended as descriptors per pattern/stimulus, not per pair. That is intended.

Do you need these pair_descriptors you describe somewhere?

[2020-09-18 17:06] saarbuckle commented on #123
Ah I see, thanks Heiko! Are these necessary in the rdm object? My confusion originated with the intended size descried in `rdms.py` under pattern_descriptors, where they are noted as descriptors with 1 value per RDM column (since each column is a dissimilarity value, not a pattern per-se). Is there a reason these descriptors are named something different than the same field in the dataset object (

[2020-09-18 17:43] HeikoSchuett commented on #123
Hi! they can be something different than the obs_descriptors as often more than one observation can enter the pattern estimate for one pattern.

As the description was confusing: Feel free to change it with your documentation updates! It was meant to mean row/column of the actual matrix.

[2020-09-18 17:43] #123 closed, assigned to nobody

[2020-09-18 18:22] #33 closed, assigned to JasperVanDenBosch

[2020-09-18 18:22] #100 closed, assigned to JasperVanDenBosch

[2020-09-18 18:23] caiw opened #130 "Expanded indexing for RDMs."
Currently the `RDMs` object supports indexing by integers and bools.

It would be possible to expand this to support indexing by slices (e.g. `rdms[2:]`), as well as setting by index (e.g. `rdms[2:2] = RDMs(…)` or something), as well as indexing by descriptors (e.g. `rdms['type']`, or something pandas-like `rdms[rdms['type'] == 'animate']`).  Also related magic methods such as `__delitem__`.

Whic

[2020-09-20 15:26] jdiedrichsen commented on #81
For now removed simulation.sim from documentation, as the module never made it into Master.
What is the status of the simulation functionality (sim_dev)?

[2020-09-20 21:22] #115 closed, assigned to JasperVanDenBosch

[2020-09-20 21:23] #109 closed, assigned to nobody

[2020-09-20 22:19] JasperVanDenBosch opened #134 "Readthedocs build fails because of notebook memory use"
[code]

It ran before so the new changes must have made it heavier perhaps

[2020-09-21 09:06] JasperVanDenBosch commented on #134
Note that RTD is a free service and therefore runs our builds on cheap low-ish-memory virtual machines. So there's a few solutions:

1. reduce the memory usage of our notebooks (smaller data samples)
2. give up including (some or all) notebooks in the documentation
3. host the documentation on our own hosted site (but this requires some money)

Here's the limits (3GB, 15mins): https://docs.readthe

[2020-09-21 09:46] HeikoSchuett commented on #81
Hi Jörn, I think the status of the simulation code is that it is in principle functional, but requires a bit of clean up to pass code review and a bit more explanation what is going on such that things are understandable. Do you maybe have the time to add these explanations?

[2020-09-28 13:09] JasperVanDenBosch commented on #15
related to #133

[2020-09-28 17:14] #24 closed, assigned to doerlbh

[2020-10-07 15:19] jooh opened #142 "Testing demo notebooks and pytest"
It would be useful to include the demo notebooks in tests to detect any regressions. I did some research and there seems to be two ways you could do this.

1. Add dependencies: pytest and [nbval](https://nbval.readthedocs.io/en/latest/). This is the most elegant approach. See e.g. [this example application](https://github.com/miykael/workshop_cambridge/blob/master/test_notebooks.py). But we would

[2020-10-08 10:33] jooh commented on #134
Would it make sense to put pre-rendered notebooks in the repo for RTD, and run the actual notebook code execution test as part of the Travis code tests instead? See also #142

Depends on if you think of notebooks as code or docs I guess.

[2020-10-08 10:48] JasperVanDenBosch commented on #134
It seems that it now usually works again:
![builds](https://user-images.githubusercontent.com/1508492/95448956-5e652a80-0964-11eb-8ed7-6ef1a72a9158.png)

I think pre-rendering the notebooks sounds good but I haven't found a tool yet to easily do that and integrate the resulting html

edit
The one thing I did find was to use symbolic links to the notebook html but that doesn't sound all that reliab

[2020-10-08 11:04] JasperVanDenBosch commented on #142
I think this is a good idea as long as it doesn't lead to people being lax about unit testing.

Both solutions would be fine with me as long as we have a convention for which framework to write the tests in. Personally I think I'd prefer to keep writing them as standard library tests, so if `pytest` supports these that would work.

I don't use the notebooks myself so I don't have a deep knowledge

[2020-10-08 12:09] lajnd opened #143 "Distance or similarity in rdm/compare.py"
Just for clarification, in the main compare-function its specified to return distances between RDMs, however, many of the method-options return negative values and seem to be similarity measurements instead.

[2020-10-09 15:45] HeikoSchuett commented on #143
Here the docstrings are wrong. They all return similarities. I changed this documentation in #144

[2020-10-09 16:15] HeikoSchuett commented on #142
So first: I think pytest should work well for all the tests we currently have. In fact I usually use pytest to run the tests locally and this works fine.

At the same time I am not really convinced that running the tutorial notebooks directly is the way to go to check that the workflows still work right. Notebooks are quite annoying for testing because they contain all the information about when w

[2020-10-09 16:35] HeikoSchuett commented on #130
I finally got around to thinking about this a bit.
I think the slicing stuff seems helpful.
For the ones on descriptors I am not so sure. We already have subsetting & sampling methods by descriptors and given that we always have at least two dimensions (over rdms and over patterns) I think it is clearer without indexing directly and does not add too much burden. `rdms.rdm_descriptors['type']` shou

[2020-10-09 16:36] HeikoSchuett commented on #67
t-test is implemented and has a pull request

[2020-10-09 17:08] JasperVanDenBosch commented on #130
I think for the copy vs reference thing what could help is a convention on the wording:

If it returns a copy, use **as** or the perfect form: `as_temporal_rdm()`, `sorted()`

if it operates in places and returns a reference for chaining operations, use the infinitive verb:
`sort()`, `align()` etc

[2020-10-10 10:06] caiw commented on #130
With references vs copies I had the following hypothetical example in mind:

One could imagine a temporal RDM with a lot of data (e.g. a 50x50 RDM for each ms of a minutes-long EEG recording session).  Then one might want to keep that in memory just once, and be able to slice out a time window (e.g. everything except the first pre-stimulus 1000ms) _by reference_, rather than by copy, which would r

[2020-10-13 15:42] jooh commented on #142
Yes, this is all I had in mind! Not formal testing of the accuracy of each cell, just checking that all the cells run without returning exceptions.

Also agree that the time it takes to run the notebooks makes it overkill for the standard test suite. Maybe best to have a separate test_notebooks.py under `demos/` that can be run before releases?

[2020-10-13 15:46] jooh commented on #130
Would it make sense to base our data classes off something like xarray.DataArray instead of coding our own implementation from raw numpy and up? Keeping track of meta data while supporting a reasonable range of indexing operations is quite hard. Maybe it's not something we have to solve ourselves.

[2020-10-15 18:32] #83 closed, assigned to nobody

[2020-10-16 11:43] lajnd commented on #143
Cheers!

[2020-10-16 11:43] #143 closed, assigned to nobody

[2020-10-18 23:17] Jiashun97 opened #154 "Import Error"
Has anyone encounter the ImportError when trying to import pyrsa?
![error](https://user-images.githubusercontent.com/65221219/96388401-da534400-11a8-11eb-8c34-6f38d981f9f6.png)

[2020-10-19 00:09] HeikoSchuett commented on #154
Hi, I have not seen this error before, no. Could you provide the stack trace for this?

[2020-10-19 08:28] JasperVanDenBosch commented on #154
Looks like a version conflict. We should probably pin the scikit-learn
version

On Mon, 19 Oct 2020, 02:10 Heiko Schütt, <notifications@github.com> wrote:

[2020-10-19 10:52] Jiashun97 commented on #154
![Screen Shot 2020-10-19 at 12 52 16](https://user-images.githubusercontent.com/65221219/96441524-ee7b5d80-1209-11eb-98ef-20c3cb67f89d.png)

[2020-10-19 11:09] JasperVanDenBosch commented on #154
Try `pip install -U scikit-learn`

[2020-10-19 11:21] Jiashun97 commented on #154
Got this after tried the installation.

![Screen Shot 2020-10-19 at 13 20 56](https://user-images.githubusercontent.com/65221219/96444095-f210e380-120d-11eb-83ad-dcc3e6ae36ff.png)

[2020-10-19 11:31] JasperVanDenBosch commented on #154
`pip install -U Pillow`

[2020-10-19 11:41] Jiashun97 commented on #154
Thank you so much. It works now!

[2020-10-19 11:50] JasperVanDenBosch commented on #154
Great! Feel free to open a new issue if you encounter another problem

[2020-10-19 11:50] #154 closed, assigned to nobody

[2020-10-20 00:05] Jiashun97 opened #156 "Errors in the "exercise_all" DEMO"
Hi, I encountered a KeyError in the "exercise_all" DEMO when I am trying to to set train_set, test_set, and ceil_set for the cross-validation regarding flexible models. Could you have a look at this? Thanks.
![Screen Shot 2020-10-20 at 02 01 32](https://user-images.githubusercontent.com/65221219/96524458-a47d9080-1278-11eb-8367-c18e2699f369.png)

[2020-10-20 01:54] HeikoSchuett commented on #156
This was an error with a missing default value for the descriptor. I think this was fixed with #117 .
I.e. if you update to a newer version this error should go away! If it does not, please open a new issue!

[2020-10-20 01:54] #156 closed, assigned to nobody

[2020-10-20 12:48] Jiashun97 opened #157 "Errors in the "exercise_all" DEMO"
![Screen Shot 2020-10-20 at 14 47 11](https://user-images.githubusercontent.com/65221219/96587838-23a7ae80-12e3-11eb-9697-9bf1e22e1583.png)

I upgraded to a new version but the error in #156 is still there.

[2020-10-20 16:20] Jiashun97 commented on #157
I solved the problem by adding "pattern_descriptor = 'index' " in the arguments of the function pyrsa.inference.sets_k_fold

[2020-10-20 16:20] #157 closed, assigned to nobody

[2020-10-20 16:54] HeikoSchuett commented on #157
This is a bit odd. The fix you used is exactly what should happen in the current version anyway. I am glad you found the solution, but this is the default in the current master branch:
[code]
(copy pasted from the code)

Maybe check whether the version you have loaded in the notebook is indeed updated.

Otherwise: Have fun with the toolbox

[2020-10-21 13:47] Jiashun97 commented on #157
Yeah I tried again and I got the same error after re-installation. There might be sth wrong with the way I import it. If other people can use it then I think this is fine. Thank you.

[2020-10-28 21:45] HeikoSchuett commented on #142
I just sat down and wrote a couple of tests based on the existing notebooks. That did not take much time and should now test whether the code they want to run still works.

On your last point: I agree that we should probably test the notebooks before releases. I don't really know a way which makes this much easier than clicking through them once. If you do, please feel free to add such a test scri

[2020-11-05 14:04] AgathaAnet commented on #39
Hi Michael,

Did you manage to overcome this second error?
"Error in rsa.fmri.fMRISearchlight (line 203)
warpDefFilename = replaceWildcards(fullfile(userOptions.structuralsPath, matchingFiles(1).name),
'[[subjectName]]', subject);"

I've encountered the same...

Thank you

Regards,
Agatha

[2020-11-06 11:30] jooh opened #160 "Basing data classes on pandas.DataFrame or xarray.DataArray"
The project currently contains data classes that are constructed from scratch, with raw numpy arrays to store data and associated dicts for keeping track of meta data. This results in a lot of re-inventing the wheel when it comes to e.g. supporting indexing (see #130) or keeping track of meta data over operations. This kind of stuff is already implemented in a performant and well-tested way in pan

[2020-11-06 18:03] JasperVanDenBosch commented on #160
Thanks for thinking about this Johan -  I agree it's good to think about how we structure things.

A few thoughts:

I do like pandas for table-like data. But I'm not sure it's the right fit to replace all our data structures. I've come across a few obscure bugs here and there with it, and have contributed code to the project, and was not particularly impressed with how it's maintained. I also have

[2020-11-09 10:19] iancharest commented on #35
Hey, I am still getting various import issues, so I will reopen this. I think we need to think about how we do our imports.
![image](https://user-images.githubusercontent.com/621052/98529042-0bd5a180-2275-11eb-964f-875391789c44.png)

[2020-11-09 13:48] HeikoSchuett commented on #35
Hmmmm, I did not manage to recreate this problem. Do you have any idea why this is happening? For me the exact code you posted runs fine in ipython and shows me a random RDM.

[2020-11-09 14:19] HeikoSchuett commented on #160
Hi! Yes, it is always good to have someone else look at the actual implementation of things!

I mostly agree with Jasper. It definitely seemed easier to write these objects from scratch than tweaking existing ones to meet our needs when we started this. Especially having multiple descriptors/label vectors for multiple dimensions and the RDM type of data which corresponds to only half of a matrix w

[2020-11-09 14:34] HeikoSchuett commented on #130
sorry for taking so long to come back to this.

The example you give illustrates really nicely why we need to get our policy on copy vs reference straight. I would think that directly setting parts of the dissimilarities array should be discouraged. At the same time I definitely understand the expectation that `rdms[0].dissimilarities = numpy.array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])` could work. Es

[2020-11-09 14:57] iancharest commented on #35
ok a fresh
[code]
seems to have fixed this.
I don't know what the problem was with the previous venv where I was getting this error because it was basically the same python version, so must have to do with some broken dependencies or something on my side. i'll close this now.

[2020-11-09 14:57] #35 closed, assigned to nobody

[2020-11-09 15:11] iancharest commented on #160
This is very good thoughts.

+1 for the functionality allowing passing data as simple numpy arrays!

Cheers!

ian

On Mon, 9 Nov 2020, 14:19 Heiko Schütt, <notifications@github.com> wrote:

[2020-11-09 17:04] caiw commented on #160
I tend to agree that re-inventing the wheel is best only as a last resort.  Efficient by-reference slicing and function broadcasting aren't trivial, and would be provided "for free" by making `RDMs` delegate this to an established library.  Plus we'd get to let other people worry about weird edge-cases :)

Having said that, I've found pandas to be a bit cumbersome and idiosyncratic when it comes t

[2020-11-10 15:03] #142 closed, assigned to nobody

[2020-11-12 13:48] JasperVanDenBosch opened #164 "RDMs from list of Datasets should not have descriptor that varies in Datasets"
If we do (pseudocode)

`dataset -> split_channel('foo') -> calc_rcm -> rdms`

The resulting `rdms` will have a descriptor `foo` with value equal to the first value of `foo` in dataset, which is meaningless in this case. It's `rdm_descriptors`correctly represent the individual channels.

[2020-11-13 10:27] spike3600 opened #165 "inference on cosine similarity"
I wonder how the relatedness test would work for cosine similarity.
given crossnobis RDMs for multiple subjects and a model, cosine similarities cannot be tested against zero.
is there a simple way to test if the model is explaining any variance of the data (i.e. the relatedness test)?

[2020-12-02 02:39] HeikoSchuett commented on #165
Hi! Sorry for ignoring you so long. At the moment the easiest way is to add a fixed model with a constant RDM as a competitor. The model comparisons against this model are then tests against an unrelated model.

We may automate this in the future, but we have not yet discussed how to do this exactly, i.e. whether we rescale all bars, add a line for this null model or something else.

[2021-01-14 20:54] Remi-Gau commented on #43
Not a regular user of the RSA toolbox but this looks like an SPM dependency (`spm_vol` and `spm_read_vols`) are 2 of the main function that spm uses to read images headers and content.

Given that the RSA toolbox does not have to have them in its SPM folder: https://github.com/rsagroup/rsatoolbox/tree/develop/%2Brsa/%2Bspm

I suspect the workaround is to install spm (https://www.fil.ion.ucl.ac.uk/

[2021-01-15 19:09] caiw commented on #43
Yes, that's right. These functions come from SPM.

[2021-01-19 00:56] #164 closed, assigned to nobody

[2021-01-22 12:33] caiw opened #169 "Rename `master` branch to `main`"
[Git has acknowledged](https://sfconservancy.org/news/2020/jun/23/gitbranchname/) that old default branch name of "`master`" is offensive – and thus exclusionary – to some people, due to its obvious association with slavery.  As such, the general approach has been to change the primary branch name to `main`, which is both neural in this regard, and also more technically appropriate. In fact, this

[2021-01-22 13:12] caiw opened #170 "`concat(rdms)` should be able to accept multiple RDMs as arguments"
It would be nice (and expected?) to be able to write
[code]
instead of
[code]
This can be easily achieved by changing the signature of `concat` to `concat(*rdms)`, and doing a little check to ensure lists can still be passed.

[2021-01-23 04:06] HeikoSchuett commented on #170
Yes, this sounds sensible. I guess the best variant would be it both work to still allow `concat(list_of_rdms)`.

If you have the time to do this the fastest way to add this to the toolbox would be if you open a small pull request which changes this. This change should not require any other changes I think.
I promise to check & merge it quickly if you implement this!

[2021-01-23 04:21] HeikoSchuett commented on #169
I just did the renaming. The lines to change the name in your local copy are:

[code]

[2021-01-23 14:04] caiw commented on #169
Thanks @HeikoSchuett!

[2021-01-23 14:04] #169 closed, assigned to nobody

[2021-01-23 14:05] caiw commented on #170
@HeikoSchuett There you go! :)

[2021-01-25 23:26] HeikoSchuett opened #173 "Install name for pip"
A discussion point on the name:

we currently need to run
``` pip install rsa3 ```
to install our toolbox as the name pyrsa is taken by a python implementation of the RSA encryption algorithm.

Unfortunately, this has bad consequences. For example, I managed to get into a state where I cannot successfully install our toolbox anymore after running
[code]
i.e. once I installed the two into the same

[2021-01-26 00:37] JasperVanDenBosch commented on #173
You mean rename everything to rsa3?

On Tue, 26 Jan 2021, 00:26 Heiko Schütt, <notifications@github.com> wrote:

[2021-01-26 00:38] JasperVanDenBosch commented on #173
Perhaps that's the best approach yes.

On Tue, 26 Jan 2021, 01:37 Jasper van den Bosch, <japsai@gmail.com> wrote:

[2021-01-26 22:52] HeikoSchuett commented on #67
Have been merged recently

[2021-01-26 22:52] #67 closed, assigned to nobody

[2021-01-26 22:55] HeikoSchuett commented on #72
Was included in form of the Icon object

[2021-01-26 22:55] #72 closed, assigned to nobody

[2021-01-26 22:57] HeikoSchuett commented on #173
Yes, renaming everything to rsa3 (or something different) is my proposal

[2021-02-06 00:22] charlesbmi opened #175 "Usage of whitened unbiased RDM cosine similarity (WUC)?"
I recently read "[Comparing representational geometries using whitened unbiased-distance-matrix similarity](https://arxiv.org/abs/2007.02789)" and saw that it recommends whitening data RDMs before calculating the cosine similarity.

Does `pyrsa.rdm.compare(rdm1, rdm2, 'cosine_cov', sigma_k=None)` whiten the data RDMs appropriately by default? If not, should I just take the standard covariance over

[2021-02-13 09:26] JasperVanDenBosch opened #177 "Type hints"
Should we (gradually) introduce type annotations? In recent python versions you can do:

[code]

and a tool such as _mypy_ or _pylance_ will check your code for violations while you're typing, often
pointing out bugs based on expectations of what another component will do.
My proposal is that from henceforth, contributors who want to, may add such annotations.

[2021-02-23 18:22] HeikoSchuett commented on #175
Hi there,

yes these functions do whiten the rdms, that is the only difference between them and the normal cosine and corr compare functions. The sigma_k actually corresponds to the sigma_k in the paper, i.e. if you want to set it it should be (an estimate of) the noise covariance over patterns. If you do not pass a sigma_k, it assumes iid measurements for the different patterns. As we describe in

[2021-02-24 21:58] charlesbmi commented on #175
Thanks Heiko! That's helpful.

[2021-02-24 21:58] #175 closed, assigned to nobody

[2021-03-04 19:57] PeerHerholz opened #178 "Virtualization via Docker/Singularity"
Ahoi hoi everyone,

very happy to see the new developments in `python` and extended support! I'm very much looking forward to trying
it out.

I was wondering about your thoughts concerning virtualization through containers, i.e. `Docker` and `Singularity` (maybe not now, but once you're closer to the release(s)). Depending on how one does approach these things, there are several advantages includi

[2021-03-05 17:15] Tal-Golan opened #179 "Documentation of distance measures - squared vs non-squared distances"
As a user of the toolbox, I find it misleading that 'euclidian distance' is the squared euclidean distance (divided by the number of channels). I suggest changing the documentation of `calc_rdm_euclid`, `calc_rdm_mahalanobis` and `calc_rdm_crossnobis` to reflect the computed distance function more precisely. This will ensure that future users don't incorrectly report the distance measures they've

[2021-03-06 21:21] Tal-Golan opened #181 "Vectorized distance measures?"
In the case of numerous channels (e.g., as in some neural network representations), the current implementation of the RDM calculations requires an immense amount of memory and compute compared to the optimal, vectorized NumPy solution.

For example, for the (squared) Eucledian distance with n = 1000, m = 10000
[code]

Have you guys considered and decided against vectorizing these distance measures

[2021-03-23 18:27] HeikoSchuett commented on #179
Thanks for notifying us Tal! We shall have a look at better documentation anyway and will fix this.

[2021-03-23 18:46] HeikoSchuett commented on #181
I finally noticed your messages here. We certainly didn't decide against any vectorization on purpose. I am happy to have a closer look at these issues though.  Could you maybe post the code you actually ran for the vectorized computation time?  That would give me a comparison.

For the memory issue I actually coded an improved version for my stats simulations, which worked well for the feature sp

[2021-03-23 23:22] Tal-Golan commented on #181
My code is below, including the tests. I included the implementation above in the function comparison.

[code]

For large datasets, I still get slow running time with calc_rdm_euclid_save_memory:
[code]

[2021-03-25 03:37] HeikoSchuett commented on #181
I just switched all computations for the RDMs to this way of calculating them.

Thanks a lot for noticing this! Its really stupid that I/we didn't notice this earlier!

[2021-03-27 17:44] #181 closed, assigned to nobody

[2021-03-27 20:32] charlesbmi opened #183 "Bootstrapping against"
Is there a way to compare two groups of RDMs against each other (instead of 1 group of RDMs against a single-RDM model)? To take the example of [Ejaz, Hamada, and Diedrichsen (2015)](https://www.nature.com/articles/nn.4038) say I wanted to quantify the similarity between the representational structures from fMRI recordings (with multiple subjects) and EMG recordings (with multiple subjects).

In t

[2021-03-29 13:50] JasperVanDenBosch commented on #183
I suppose that depends on the type of test you'd perform on the bootstrapped distribution. If you consider the EMG and fMRI to be a paired sample, then you could bootstrap the difference RDM

[2021-03-29 16:13] HeikoSchuett commented on #183
I agree with @ilogue here.
To answer to your questions directly: Yes, that seems like a reasonable idea. We do not implement something like this in the toolbox yet.

The main question you should ask yourself for this is which bootstrap resampling scheme is adequate for the sampling in the actual experiment and the generalization you want to achieve. If the RDMs are paired, i.e. each subject contri

[2021-03-29 23:57] charlesbmi commented on #183
Thanks ilogue and Heiko! That makes sense. In my case, the RDMs are from different subjects (not paired), so I will bootstrap across each group separately.

[2021-03-29 23:57] #183 closed, assigned to nobody

[2021-03-30 03:17] HeikoSchuett commented on #178
Hi @PeerHerholz!

apologies for taking so long!

I think we do plan to extend our integration with the neuroscience pipelines in python, which should ultimately include methods for putting pyrsa into containers. For that your pointers are definitely helpful. Also it is encouraging that you apparently found it quite easy to generate at least some rudimentary containers which contain pyrsa.

Before

[2021-03-31 15:49] JasperVanDenBosch opened #185 "reorder bug"
[code]

[2021-03-31 16:06] JasperVanDenBosch commented on #185
fixed in 8e966e3

[2021-03-31 16:06] #185 closed, assigned to JasperVanDenBosch

[2021-04-01 09:49] JasperVanDenBosch commented on #177
This would mean dropping support for python 3.6 which will be EOL in 6 months: https://endoflife.date/python

[2021-04-01 10:50] JasperVanDenBosch commented on #178
+1 for a pyrsa Bids App

[2021-04-02 18:00] PeerHerholz commented on #178
Ahoi hoi @HeikoSchuett,

thanks for the response and the detailed information, no biggie re time.

Yeah, you're absolutely right concerning `workflows`, etc., that was also what I was referring to/had in mind. Sorry for not communicating this more clearly. As there are currently no harsh/prominent software dependencies for `pyrsa`, running a potential analysis in a container could/would be an over

[2021-04-11 03:40] HeikoSchuett commented on #134
I think this only occurred because of a bug in the RDM calculation, which was fixed since then. Shall we close this for now as currently everything works fine?

[2021-04-11 03:41] #28 closed, assigned to nobody

[2021-04-13 09:29] jooh commented on #177
All in favour of type annotations here. Are there any important libraries that are still 3.6 only?

[2021-04-13 09:49] JasperVanDenBosch commented on #177
That's a good question. From what I can find; numpy, scipy, matplotlib, scikit-learn and scikit-image all follow [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html), a policy which requires them to support recent python versions and drop support for versions older than 42 months.
For our depencies that leaves [joblib](https://pypi.org/project/joblib/), [h5py](https://travis-ci.org/gi

[2021-04-13 10:40] JasperVanDenBosch commented on #134
Let's wait until we merge #184, if that renders then we can definitely close this

[2021-04-13 14:04] #179 closed, assigned to nobody

[2021-04-14 10:51] jooh commented on #177
Also just noticed that numpy added type annotations very recently in release 1.20, February 2021. Very useful for us given number of numpy arrays going around.

[2021-04-20 03:43] HeikoSchuett commented on #134
it looks like the readthedocs were failing for a while longer and didn't try recently. Can you check whether it works now? #184 is merged now, too

[2021-04-20 12:04] JasperVanDenBosch commented on #134
[code]

[2021-04-20 12:05] JasperVanDenBosch commented on #134
The last successful build was 5 months ago

[2021-04-20 12:29] JasperVanDenBosch commented on #134
Fixed configuration and it seems to work now

[2021-04-20 12:29] #134 closed, assigned to nobody

[2021-04-21 23:41] JasperVanDenBosch opened #190 ""No kernel named.." and notebook metadata"
I came across an interesting issue that I just wanted to document in case we run into it again. This may be obvious to others but since I don't use jupyter notebooks regularly I was quite confuzzled.

Read the docs kept complaining about _`No kernel named python 3`_ etc. In the end I found out that even though I made a relatively minor textual change to one of the notebook's cells, it had saved me

[2021-04-21 23:45] JasperVanDenBosch opened #191 "Get nbsphinx to deal with the custom mplstyle file"
This currently fails: https://rsatoolbox--189.org.readthedocs.build/en/189/demo_rdm_vis.html

[2021-04-22 20:12] jooh opened #192 "show_rdm figures broken in docs due to missing rdms.mplstyle"
Looks like vis.show_rdm is broken in the docs because the rdms.mplstyle file is missing from the build context. Happy to fix if someone can point to where it needs to be added in.

See e.g. https://rsatoolbox.readthedocs.io/en/latest/demo_rdm_vis.html#Plotting-RDMs-with-text-labels

[2021-04-22 22:10] JasperVanDenBosch commented on #192
same as #191

yeah I have to figure out how to include these and get them in the right place

[2021-04-22 23:53] HeikoSchuett commented on #192
It looks to me like the mplstyle file is simply not installed with the rest of the code. The python packaging seems to suggest to use a `MANIFEST.in` file defining that this file should also be copied.

[https://python-packaging.readthedocs.io/en/latest/non-code-files.html](https://python-packaging.readthedocs.io/en/latest/non-code-files.html)

[2021-04-23 08:00] JasperVanDenBosch commented on #173
fixed in #189

[2021-04-23 08:00] #173 closed, assigned to JasperVanDenBosch

[2021-04-29 17:25] #191 closed, assigned to nobody

[2021-04-29 17:25] #192 closed, assigned to nobody

[2021-05-27 10:08] tbennett4 opened #196 "mpl style not found"
[code]

[2021-05-27 13:40] JasperVanDenBosch commented on #196
version 0.0.1

[2021-06-07 08:01] leehweeling commented on #196
Hi,

I'm also experiencing similar issues. Has anyone the solution to this?

Cheers,
Hweeling

[2021-06-07 11:48] JasperVanDenBosch commented on #196
Yes this will be resolved in the next few days. I'll post an update here

[2021-06-07 13:54] beyzakkoyunlu opened #197 "Import error"
I use Python 3.6.8 and I installed rsatoolbox using pip. However when I try to import it, I get the following error

`Traceback (most recent call last):

  File "/neuro_tools/virt_envs/beyza/fmri/lib64/python3.6/site-packages/IPython/core/interactiveshell.py", line 3343, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-1-e81955bc16b3>", line 1, in <module>

[2021-06-07 17:17] JasperVanDenBosch commented on #197
hi @beyzakkoyunlu,
sorry, we don't support python 3.6 anymore. This should work on python 3.7

[2021-06-07 18:53] JasperVanDenBosch commented on #196
@tbennett4 @leehweeling please update `rsatoolbox` to version `0.0.2` and try again. You should be able to update with:

[code]

[2021-06-10 10:35] beyzakkoyunlu commented on #197
Thanks, I didn't catch that

[2021-06-10 10:35] #197 closed, assigned to nobody

[2021-06-10 10:50] JasperVanDenBosch commented on #197
No worries, it's a recent change and we could do a better job of displaying it.
Don't hesitate to be in touch if you get stuck with anything else

[2021-06-10 16:37] JasperVanDenBosch opened #199 "rank transform does not update dissimilarity measure"
Perhaps it should be adapted, for example _euclidean_ becomes _euclidean (ranks)_

https://github.com/rsagroup/rsatoolbox/blob/11d394852695851d3d1dabb059adfc277ad996e6/rsatoolbox/rdm/transform.py#L34

[2021-06-22 14:44] limbicode214 commented on #89
also very interested in this. Still have no easy way to convert my fMRI data (nii-files, 20 conditions, 2 runs with 120 stimuli) into the mat-structure for the rsatoolbox. Any help would be greatly appreciated!

[2021-06-22 14:57] limbicode214 commented on #178
+1 rsatoolbox BIDS app. Would be awesome

[2021-07-06 14:00] JasperVanDenBosch commented on #196
Closing now as this seems to be resolved in #193. Feel free to re-open or start a new issue if this re-occurs in version 0.0.2

[2021-07-06 14:00] #196 closed, assigned to nobody

[2021-08-03 16:31] Remi-Gau opened #44 "add RSA code"
fix #31

[2021-08-03 16:31] #44 closed

[2021-08-06 21:19] JasperVanDenBosch opened #202 "direct indexing of utv"
first column proceeds by binom(n,2) where n starts off as N-1
 second column proceeds based on the number of combinations of the remaining numbers

[2021-08-20 18:29] #79 closed, assigned to nobody

[2021-08-20 18:46] #36 closed, assigned to nobody

[2021-08-24 18:07] PuddleJumper2018 opened #45 "Searchlight memory issues"
Hi, I'm using this toolbox to perform searchlight:
It seems this line of code:
```rsa.fmri.fMRISearchlight(fullBrainVols, binaryMasks_nS, models, betaCorrespondence, userOptions); ```

is chewing up 30GB of memory per participant (I have total of 34 ppts and one model so requires 1000GB in total) to process. We've already upgraded memory at the computing cluster once, but insufficiently. Can anyon

[2021-08-25 00:49] #81 closed, assigned to nobody

[2021-08-25 03:49] HeikoSchuett opened #203 "implement equality check for data and RDMs"
This would be a quality of life improvement

[2021-08-25 04:09] #170 closed, assigned to nobody

[2021-08-25 12:02] JasperVanDenBosch opened #205 "scatter GIF"
movie mode for scatter plot

[2021-09-01 09:12] JasperVanDenBosch opened #207 "RDM panels subplots config utility"
Wonder if we should have a consistent utility function that handles this subplot stuff, and allows setting either nrow or ncol, see

https://github.com/rsagroup/rsatoolbox/blob/28aeedc6855046f08bf178ca06b3ee36d647b3aa/rsatoolbox/vis/rdm_plot.py#L111-L120

_Originally posted by @jooh in https://github.com/rsagroup/rsatoolbox/pull/204#discussion_r700004714_

[2021-09-01 09:25] JasperVanDenBosch commented on #205
perhaps it could accept a `Dataset` as well, seaborn-style with keyword args to specify the features to use

[2021-09-08 00:22] JasperVanDenBosch opened #208 "catinduct annotations seem to have repetitions"
..sorry wrong repo

[2021-09-08 00:42] #208 closed, assigned to nobody

[2021-11-09 18:50] jdiedrichsen opened #46 "Query about RSA defineSearchlight function"
Hi Dr.Jörn Diedrichsen,
I am Karthik, a PhD candidate at the University of Michigan. I study multisensory integration. I have been trying to use your RSA toolbox on Matlab for performing some representational similarity analysis. It has some wonderful set of functionalities.

I have a query about defining the search space for the analysis. What I want to do is define an ROI (let us say the posteri

[2021-11-09 18:54] jdiedrichsen commented on #46
Not sure what you are trying to do.
If you want to run a searchlight analysis WITHIN an ROI, just pass the ROI image as "Mask" to the function - defineSearchlight will only use voxels within the mask
If you want to get a single measure for ALL VOXELS within the ROI, you don't need defineSearchlight - just extract the data for the ROI and calculate the distances.
There are many ROI toolboxes to do

[2021-11-11 22:56] #105 closed, assigned to caiw

[2021-11-13 16:43] JasperVanDenBosch opened #210 "small error in model docs"
`pred_rdm = model.predict_rdm # returns a RDMs object`

https://rsatoolbox.readthedocs.io/en/latest/model.html

[2021-11-16 19:03] smazurchuk opened #211 "If RDM contains NaN, return NaN instead of Error"
Thanks for making this toolbox. I was wondering if people would be open to changing the behavior of the `_parse_input_rdms` function. Often when doing searchlight analysis, `NaNs` get introduced into some patches. At present the `evaluate_models_searchlight` function raises an error (and stops) if it encounters a NaN. Could we change this behavior to simply add an extra option to `evaluate_searchl

[2021-11-17 18:12] HeikoSchuett commented on #211
apparently @ilogue  will have a look at that. Changing this behavior certainly seems sensible.

I think we might want to keep the check in the `_parse_input_rdms` because it checks whether RDMs that have both NaNs and finite values as entries are compatible. It seems better to me to catch the NaN inducing positions already in the searchlight or compare functions, such that they immediately return

[2021-11-17 22:59] smazurchuk commented on #211
Very cool! Thanks for checking this out. I just started using the toolbox. While changing the NaN behavior would be helpful, is there any discussion/interest in improving the performance of the toolbox for searchlight analysis?

I've been unable to get a searchlight analysis down to a reasonable time (even having tried multithreading and multi-process approaches). Linked is a jupyter-notebook I pu

[2021-11-18 01:50] HeikoSchuett commented on #211
I'll have a look at the timing issue. Making the subsetting faster would benefit all analyses in the toolbox, so that is certainly worth a bit of effort.

[2021-11-18 02:11] HeikoSchuett commented on #211
Ok, so I had a bit of a look at the timing stuff and think I managed to remove a bit of the baggage which comes from copying around the descriptors of the data everywhere.

I was not entirely sure how many channels your dataset has, so I set it to 100. With that number of channels I would now be at ~100ms for computing one cross-nobis RDM based on cross validating the 6 runs for 300 patterns, i.e.

[2021-11-18 13:30] JasperVanDenBosch commented on #211
Excellent, great work @HeikoSchuett on the speedup. I mostly assigned myself a a reminder for myself that I wanted to have a look as I agree with you it would be good to allow NaNs.

@smazurchuk do you think you could give it a go yourself perhaps? You're very welcome to open a pull request. Let me know if I can assist with that in any way. I'm not sure I'll get around to building something myself

[2021-11-18 15:29] smazurchuk commented on #211
Wow! Thanks @HeikoSchuett !! That was very quick work. It's very appreciated. @ilogue I'm happy to help too but I'm a bit new to working on such a collaborative project, so it might take a bit before I open that pull request. Thanks!

[2021-11-22 17:52] HeikoSchuett opened #213 "parallel searchlight does not use more than 8-10 cores efficiently"
Hi @HeikoSchuett . So I started using this branch and doing a searchlight analysis. I've noticed this to be the case before too, but it seems that after about 8-10 cores, adding any more cores doesn't increase the speed. Intuitively, this probably amounts to an I/O limitation. If you log into a node running the job and run the `htop` command, you can see that even though CPU usage looks like it's

[2021-11-22 23:05] smazurchuk commented on #213
I think it might be okay to close this thread because any optimizations to fix this would probably require significant re-writing. For anyone who comes across this thread in the future, I used the [numba](https://numba.pydata.org/) toolbox to make a version of the `crossnobis` function that compiles in no-python mode. Even with a completely jitted function, this speed limitation exists. The kernel

[2021-11-22 23:28] HeikoSchuett commented on #213
I'll leave this open for now. I am glad that it does not look like extreme losses of speed, but the code for the searchlight really should be embarrassingly parallel, i.e. if implemented optimally this should scale perfectly with more cpus.

I am less worried that there is still some improvement possible by compiling or loosing some of the decorators and descriptors, but we also aim for a reasonab

[2021-11-23 23:29] smazurchuk opened #214 "Fallback option for Noise Estimate"
In a current experiment we have 300 conditions each of which is sampled 6 times (so 1800 bmaps). A reasonable size ROI (default mode network in left-hemisphere) has about 7,000 vertices in the hcp mesh. At present, it seems this is too large of an ROI for the toolbox to handle calculating the crossnobis distance of. Are there any pointers for using datasets of this size?

This can be recreated wit

[2021-11-24 00:46] iancharest commented on #214
Hi Stephen,

I can see two memory improvements.

First, declare your data .astype(np.float32)

That should cut size in half.

Second, and this is more internal to rsatoolbox, as far as I understand,
there is no need to store Square rdms at any point. Only storing the upper
triangular vectors should reduce memory use even more.

I'll look into it by the end of the week.

ian

On Tue, 23 Nov 2021, 1

[2021-11-24 16:24] smazurchuk commented on #214
Hey @iancharest , thanks!

I can switch to float32, but for this case, I still would be out of memory. I guess I have some theory questions. It seems to me that estimating the covariance/noise matrix is needed to make `crossnobis` scale invariant. Are there any other ways to do this?

As a work-around, can we just scale activation patterns to unit length? Then if we use the cross-validated mahalan

[2021-11-24 16:54] HeikoSchuett commented on #214
Hi @smazurchuk,

I think this is a bit more internal. The memory problem happens in the noise covariance estimation, not in the actual calculation of the RDM. The big array appears in the calculation of the shrinkage estimate, where we also need some information across the time dimension. If the data fit in memory it is simplest and fastest to just keep the inner products of residuals for all time

[2021-11-24 17:10] smazurchuk commented on #214
Hi @HeikoSchuett , thanks for the reply!

Yep, that's why I didn't include that step in the example code (and raised it as an issue, as there might be people interested in using ROI's that have  a few thousand voxels). Perhaps this is just impractical though.

This is what I do for speed, but the issue is that since the patterns are not scale invariant, you can't average RDM's across subjects in a

[2021-11-24 17:42] jdiedrichsen commented on #214
@smazurchuk :  The most practical approach to achieving some scale-constancy on you distances for large ROIs is to use uni-variate prewhitening (i.e. divide the beta values of each voxel / vertex by the SD of the first-level GLM), rather than using multivariate -prewhitening, which demands the estimation of a voxel x voxel covariance matrix.  As shown in Walther et al. (2016) univariate prewhiteni

[2021-11-24 17:48] HeikoSchuett commented on #214
That pooling question is largely separate, I think.

Essentially, how you pool RDMs from different subjects comes in a pair with how you compare RDMs to each other. Thus I view this as a part of the second step of RSA of computing with RDMs. Almost all comparison metrics remove the scale of the RDM per subject anyway by normalizing away the scale of the RDM. That would be a standard place to remov

[2021-11-24 18:03] smazurchuk commented on #214
Hi @jdiedrichsen ! Thanks for the reply, and sorry for asking so many questions on this thread! I reference that paper quite often (so thanks!). We use that paper to justify doing RSA with the t-statistics that come from afni's [`3dREMLfit`](https://afni.nimh.nih.gov/pub/dist/doc/program_help/3dREMLfit.html) which uses an ARMA(1,1) model. It's a stretch but I was trying to do univariate pre-whiten

[2021-11-29 16:16] #214 closed, assigned to nobody

[2021-12-01 20:13] smazurchuk opened #217 "Unequal Number of Observations per Condition"
Hi all. It looks to me that this toolbox might have been intended to deal with the case of having unequal numbers of observations per condition as evidenced by the `rsatoolbox.rdm.calc_unbalanced` module. However, it seems to me that there is no way to calculate the mahalanobis distance for unbalanced datasets because there is no function to generate the precision matrix for unbalanced datasets.

[2021-12-06 21:20] HeikoSchuett commented on #217
Hi @smazurchuk,
so in principle, the toolbox does already work if you estimate the covariance from residuals or in some other way.

It's a good point that it currently does not allow computing that from unbalanced data. It should be fairly straight forward to implement that, just a little awkward to vectorize. I'll have a look.

[2021-12-08 23:10] HeikoSchuett commented on #210
I just put those parentheses in.

[2021-12-08 23:10] #210 closed, assigned to nobody

[2021-12-08 23:11] #199 closed, assigned to nobody

[2021-12-14 19:49] smazurchuk commented on #217
Thanks for the fix! I'll close the issue once the little fixes are made #221

[2021-12-14 20:59] #217 closed, assigned to nobody

[2021-12-15 00:56] smazurchuk opened #222 "Appropriate method to test vs 0"
Hi all. This is kinda a basic use question, not so much an issue. I'm not sure if there is a better discussion forum, so if there is I can close this and ask the question there.

My question is about the best way to test if a given patch contains linearly decodable information about different conditions. Conceptually, this seems to amount to a noise ceiling, but I was wondering how this relates to

[2021-12-15 15:48] smazurchuk commented on #211
Just closing this issue as it was ultimately decided that best practice would probably be to deal with the NaN's prior to searchlight analysis

[2021-12-15 15:48] #211 closed, assigned to nobody

[2021-12-16 15:56] JasperVanDenBosch commented on #222
hi Stephen, I'm definitely ok with this category of questions here. I've edited the title to make it easier for people browsing the issues.

[2021-12-17 09:20] HKKKKK7 opened #47 "EEG/sEEG data"
Can the toolbox use for EEG/sEEG data ?

[2022-01-04 14:24] JasperVanDenBosch opened #223 "potential method for version control of notebooks"
https://github.com/mwouts/jupytext

[2022-01-11 16:11] smazurchuk commented on #222
Hi all. Maybe I could phrase the question differently. At present the lower noise ceiling is computed as one subjects RDM correlation with the average of the remaining subjects RDMs. This measures something like **shared variance across individuals**. However, it could also be useful to define something akin to a "within subject" noise ceiling. This would be something like where there is reliable

[2022-01-13 23:09] smazurchuk opened #224 "Permute Function doesn't work"
Just opening this issue to mention that the permute function in the rdms module doesn't work. This issue can be replicated with the following code

[code]
![image](https://user-images.githubusercontent.com/29523859/149423216-e723fc98-e605-4021-bf4e-935d807cb003.png)

[2022-01-13 23:20] smazurchuk commented on #224
Fixed the issue in the pull request. I'll close this once it's merged

[2022-01-14 05:36] #224 closed, assigned to nobody

[2022-01-31 09:47] caiw commented on #47
As far as I know there is not currently built-in support for EEG in the matlab version of the toolbox. You may want to have a look at [the new Python version](https://github.com/rsagroup/rsatoolbox), which is currently under active development and aims to support multiple data modalities. I also have [an experimental EEG/MEG fork](https://github.com/caiw/rsatoolbox/tree/feature-meg-base) which I h

[2022-02-07 19:08] JasperVanDenBosch opened #228 "think about standardized reporting"
Starting point to discuss whether and how to implement some form of standardized reporting and/or "provenance".

[2022-02-11 20:53] HeikoSchuett opened #229 "Think about CUDA support"
After a talk today I got the question whether we did have plans for providing CUDA support.
I think porting the computations to pytorch for example would not be that hard. We would need to think about how to handle the ambiguity what kind of input we get though.

[2022-02-14 00:04] HeikoSchuett commented on #222
As the lack of quicker responses might suggest this is not a simple question. I will try to give some answer, but I don't think it is entirely solved.

First, the two kinds of tests you describe are indeed different. All noise ceilings and their bootstrap distributions are computed based on generalization across the subjects and with a single subject we don't have anything to base our estimates of

[2022-02-14 01:57] nkriegeskorte commented on #222
dear stephen,

your original question "about the best way to test if a given patch contains linearly decodable information about different conditions." is addressed in nili et al. 2020 (https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0232551; unfortunately you'll also need to download this correction to see the figure legends https://journals.plos.org/plosone/article?id=10.1371/j

[2022-02-24 19:03] JasperVanDenBosch opened #231 "calc functions should pass Dataset obs_descriptors to new RDMs as pattern_descriptors"
In the transition from Dataset to RDMs, currently only the dataset-wide descriptors are kept, and sometimes one specific descriptor that was used for determining the slice.

[code]

This currently gives:

[code]

But should have `abc` as a `pattern_descriptor`

[2022-02-28 21:04] HeikoSchuett opened #232 "Colormap unification"
We talked last time about a unification fo the colormaps used in the toolbox. We certainly want to keep the option for users to choose their own colormaps of course, but by default we should have a reasonably consistent setting

[2022-02-28 21:11] HeikoSchuett opened #233 "Temporal data processing for tests"
We have a basic handling of temporal data in the toolbox, but it would be great if we could enable the application of typical inference techniques used in this field. For example the inference methods implemented in MNE-python or Fieldtrip for cluster-based analysis. Benjamin gave me some reading recommendations and at first glance it should be possible to provide methods that use this toolbox to

[2022-03-16 14:11] silviaformica opened #235 "time-resolved noise matrix in calc_rdm_movie"
Dear developers,
I am using your toolbox to analyze my EEG data.
What I want to achieve is to compute RDMs over time, using the crossnobis option of the function calc_rdm_movie. My cv descriptor is the run the trial belongs to (n_run = 2).

I want to add in my computation a multivariate noise matrix. I can compute it successfully for one time point (or over an averaged time window) using prec_from

[2022-03-30 04:36] mshahbazi1997 opened #236 "cov_from_residuals"
Thanks for considering reporting an issue in `rsatoolbox` to us! Below are some tips that make it easier for us to understand what happened.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Ideally you'd include the smallest code sample required to reproduce the error.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-03-30 04:45] mshahbazi1997 commented on #236
Hi
I was using the toolbox for multivariate noise normalization
the function rsd.noise.cov_from_residuals(res,dof,method='full')
uses numpy.einsum for calculating the covariance. This line of code take ~8 seconds(!) for a matrix of size 4000x2000
matrix = np.random.randn(4000,2000)
mult = np.einsum(‘ij, ik-> jk’, matrix, matrix). but if instead consider changing it to simple matrix product (@) it

[2022-03-30 13:05] JasperVanDenBosch commented on #236
Thanks for reporting this. I can confirm the numbers you reported and with `optimize=True` it becomes about 170ms. It uses a bit more memory though. Also there is some overhead so it may slow down in some use cases but it looks like most of our uses don't fall in that category.
I'd say it looks safe for us to implement this when someone gets around to this. Do you feel like making a PR @mshahbazi1

[2022-03-30 13:06] JasperVanDenBosch commented on #235
Thanks for your suggestion @silviaformica

@Benjamin-Peters since you know the movie code best, do you think this is feasible?

[2022-03-31 02:31] mshahbazi1997 commented on #236
yes - I'd be happy to make a PR.

[2022-03-31 03:50] mshahbazi1997 commented on #236
but before doing that - I think I noticed another potential issue in the same .py file.
function sample_covariance_3d gives me an error.
mat = np.random.randn(5,60,8)
xt_x = np.einsum('ij, ik-> ijk', mat, mat)
-- I don't if this is a version dependent error or not but when I changed the einsum to
xt_x = np.einsum('ij..., ik...->...jk', mat, mat)
it works properly.

[2022-04-12 16:54] byewill commented on #33
I'm running into the same problem. Any solutions or possible workarounds?

[2022-04-13 00:24] mshahbazi1997 commented on #236
@ilogue ?

[2022-04-14 12:59] jdiedrichsen opened #237 "calc_rdm_crossnobis changes data structure"
calc_rdm_crossnobis actually changes the data structure that the user passes to it.
On line 305 (rsa.rdm.calc.py)
dataset.sort_by(descriptor)

The data set is sorted (in place) by descriptor.

This is very unecexpected and undesirable behavior, as the user may rely in downstream processing that the data is sorted in a specific way. I believe it is also very likely unecessary.

@HeikoSchuett : Are

[2022-04-14 13:29] HeikoSchuett commented on #237
Hi @jdiedrichsen,
thanks for noticing!
yes this is definitely not intended. I remember faintly that the sorting had a purpose towards making the cross-validation splits align with the patterns, but I'll check whether we need the sorting in the current version.
If in doubt we can copy the dataset, i.e. there will be a way to not change the input.

[2022-04-14 14:16] HeikoSchuett commented on #237
Ok, I checked and the sort is necessary if different runs have the conditions in a different order.
I fixed the side effect by initially copying the dataset object. If this seems fine to you, please review the pull request I just opened!
Thanks again for finding this!

[2022-04-14 16:44] jdiedrichsen commented on #237
Ok - will do. With some more time we probably should review whether sorting is necessary (seems inefficient and possibly unstable), but for now a simple fix will do.

[2022-04-14 16:53] #237 closed, assigned to jdiedrichsen, HeikoSchuett

[2022-04-14 17:06] HeikoSchuett commented on #236
Hi! I just had a short look and I think the sample_covariance_3d function is a relict that is not used anywhere else.
I think this should just be deleted. The functionality for 3D tensors is handled by the _check_demean function, which does the conversion into a 2D data matrix with means and degrees of freedom removed correctly.

Do you want to include that into your pull request?

[2022-04-19 18:29] psychNerdJae opened #239 "crossnobis reliability"
When computing crossnobis distances, the resulting neural RDM contains a diagonal that consists entirely of zeroes. The behavior I might have instead expected is for the diagonal to instead contain information about the "reliability" of each pattern across runs/crossvalidation folds – e.g., so that I can verify whether the pattern distance for stimulus 1 is more similar than the pattern distance f

[2022-04-19 22:46] JasperVanDenBosch commented on #239
Hi @psychNerdJae thanks for your question. I'll give a short answer with my understanding but other may want to weigh in . This is a good question and has been debated for some time in various places, see for example also [this paper](https://doi.org/10.1016/j.neuroimage.2016.12.079).

You are right ofcourse that there are benefits to having access to the values of the diagonal for various purpose

[2022-04-20 14:09] nkriegeskorte commented on #239
there are two fundamentally different ways to use data splitting to remove the bias of dissimilarity estimates.

one approach (which you are thinking of) is the split-data-RDM approach, where one data set is used for the rows and the other for the columns of the RDM and a *biased* dissimilarity estimator is then used to compute distances between patterns. for each dissimilarity, one condition's pa

[2022-04-21 19:06] psychNerdJae commented on #239
Hi @ilogue, thanks for pointing me towards that paper – the argument spelled out there is pretty much my exact rationale for wanting to check the diagonal for reliability. I appreciate your point that for most RSA applications, the upper/lower triangle is the main quantity of interest. Certainly in my case, I'd only be interested in the diagonal to assess reliability – and then I'd be returning ri

[2022-04-21 20:48] nkriegeskorte commented on #239
you're on the right track. if patterns are unreliable across runs, then condition pairs will not be linearly decodable and crossnobis (or LD-t) dissimilarities will be symmetrically distributed about 0. if you compute LD-t values (kriegeskorte et al. 2007, nili et al. 2014) you can test easily for significantly positive pattern dissimilarities.

[2022-04-21 23:12] psychNerdJae commented on #239
This is very helpful, thanks – so my understanding is that we could simply extract the upper triangle of the neural RDM and do a t-test on that vector. If the average value is significantly above 0, then this suggests that the pairwise distances are decodable, otherwise we need to take a step back and evaluate why we're unable to measure reliable patterns in a given region. I'll go ahead and close

[2022-04-21 23:12] #239 closed, assigned to nobody

[2022-04-22 13:03] nkriegeskorte commented on #239
the t-test i refer to is that of the LD-t, described in kriegeskorte et al. 2007 and nili et al. 2014. (can't t-test the vector of dissimilarities because of dependency.)

"no information in the activity patterns" means no mutual information between stimuli and response patterns. this is the case when the patterns are drawn from the same distribution, no matter what the stimulus was. in that case

[2022-04-25 17:25] #236 closed, assigned to nobody

[2022-05-10 19:41] JasperVanDenBosch commented on #235
Hi @silviaformica

Sorry for taking so long to reply to you.
The noise argument passed to `calc_rdm_movie` does take into account time, which should be represented as the first dimension of the noise array. The next one is then for crossvalidation folds.  `calc_rdm_movie` simply passes each slice to the `calc_rdm_crossnobis` [function](https://github.com/rsagroup/rsatoolbox/blob/dd939aa855bdfc1332

[2022-07-04 18:59] Benjamin-Peters commented on #235
I think we could make this more user-friendly by:

- calculating noise movies instead of a single noise matrix if the dataset class is ``TemporalDataset``. We might want some options here:
   - (i) computing a single noise matrix over the average time course (possibly concatenated as a movie)
   - (ii) computing one noise matrix per time-point
   - (iii) possibly computing noise matrices per time-

[2022-07-08 21:42] HeikoSchuett opened #244 "Add Model Classes for common fitting methods"
**Is your feature request related to a problem? Please describe.**
Model and results objects do not keep the `fitter` property when saved and it is not easy to change this, because it would imply saving a function or custom object. Additional object types would make this easy.

**Describe the solution you'd like**
Add object classes ModelWeightedPos or ModelWeightedFractional that inherit from the

[2022-07-14 16:41] JasperVanDenBosch opened #247 "plot rdm movie"
A plot of the rdm movie, existing function in the demo from #245

[2022-07-20 15:15] jones-michael-s opened #248 "Runtime warnings and errors when using searchlight"
Hello,

I'm currently getting runtime warnings and errors when using searchlight (specifically from evaluate_models_searchlight).

**Background:**

• OS-X 10.14.3,  Python 3.7.3,  rsatoolbox 0.0.4, numpy 1.21.6, scipy 1.7.3, pandas 1.3.5, nibabel 4.0.1

• I've been successful in getting basic RSA toolbox functionality to work (i.e., defining a data RDM and a model RDM and fitting the model to the

[2022-07-20 16:05] JasperVanDenBosch commented on #248
Hi Mike, could you share (here or via email) a small piece of data that we could use to reproduce? If it's sensitive data you can email me a link to japsai at gmail.

[2022-07-20 17:04] jones-michael-s commented on #248
Hi Jasper,

I sent links to your gmail.

Regards,
Mike

[2022-08-04 04:21] RylanSchaeffer opened #249 "How to perform permutation statistical test?"
Hi! I'm reading the Kriegeskorte, Mur & Bandettini paper, and Step 5 recommends using a permutation test when comparing 2 RDMs. I can't find out how to perform this permutation test using the `rsatoolbox` package. Can you point me in the right direction?

[2022-08-04 10:29] JasperVanDenBosch commented on #249
hi @RylanSchaeffer, thanks for your question. Ideally you'd have RDMs for the underlying sample, e.g. an RDM for each participant. In this case have a look [here](https://rsatoolbox.readthedocs.io/en/latest/demo_bootstrap.html), and keep in mind that you could consider one of the RDMs to be a "model" for the other.

For the permutation approach you mentioned, it'd be a combination of [permute_rdms

[2022-08-04 10:32] RylanSchaeffer commented on #249
Do I need to combine the two functions myself? Or is there a way to pass some argument to compare saying I want to perform a permutation-based statistical test?

[2022-08-04 10:33] RylanSchaeffer commented on #249
Also, how do researchers nowadays evaluate RSA approaches? Do they still use permutation tests?

[2022-08-04 10:45] JasperVanDenBosch commented on #249
I'll discuss with the other on whether we should build this, and get back to you asap

[2022-08-04 10:50] RylanSchaeffer commented on #249
Thanks! I ask because when I compare two matrices, I want to know that (under whatever metric I select), the performed comparison uses the best statistical hypothesis test for whether the matrices are more likely independent or dependent.

[2022-08-04 13:38] nkriegeskorte commented on #249
dear rylan,

the permutation test you mention is an excellent way to test for
relatedness against the null hypothesis that the two representations whose
RDMs you are comparing are unrelated. the test takes the dependency
structure of RDMs into account and requires only the minimal assumption of
exchangeability of the condition labels under the null hypothesis.

however, this is a very low bar, bec

[2022-08-04 20:36] RylanSchaeffer commented on #249
Hi Professor Kriegeskorte,

Thanks for getting back to me! The use case I'm specifically interested in is asking which model's RDM best matches the data RDM (from a set of candidate models), or ideally, what is the rank of the models based on their RDM matches to the data RDM. What is the (sequence of) recommended analyses and best practices to answer this question?

Based on what you said above,

[2022-08-04 20:39] RylanSchaeffer commented on #249
I might be using terminology inconsistently with `rsatoolbox`. The documentation suggests that a `Model` predicts an RDM e.g., "The simplest type of model are fixed models, which simply predict a single RDM." By model, I mean some system that produces vector outputs for inputs that are then subsequently used to compute RDMs

[2022-08-04 20:53] RylanSchaeffer commented on #249
To clarify my use case, I have $M$ candidate models and a set of $P$ stimuli $x_1, ..., x_P$, as well as neural recordings from one subject shown those stimuli. How can I rank the candidate models?

[2022-08-04 21:09] nkriegeskorte commented on #249
that's exactly what the toolbox is for: inferential comparisons among
multiple models.

these two papers summarize our current wisdom on this:
https://nbdt.scholasticahq.com/article/27664-comparing-representational-geometries-using-whitened-unbiased-distance-matrix-similarity
https://arxiv.org/abs/2112.09200

____________________________________________________
Nikolaus Kriegeskorte, PhD
Professor

[2022-08-04 21:17] RylanSchaeffer commented on #249
Yes, that's why I'm looking at this toolbox. The problem is that I can't
find a clear answer about what the best / recommended evaluation method is
in the documentation, so I'm asking for directions.

Cheers,
Rylan Schaeffer

On Thu, Aug 4, 2022 at 2:09 PM nkriegeskorte ***@***.***>
wrote:

[2022-08-04 21:22] nkriegeskorte commented on #249
we're still working on the documentation and demo scripts.
perhaps this demo script is a good starting point:
https://github.com/rsagroup/rsatoolbox/blob/main/demos/demo_bootstrap.ipynb

heiko may have further pointers.

____________________________________________________
Nikolaus Kriegeskorte, PhD
Professor of Psychology and Neuroscience
Affiliated member, Department of Electrical Engineering
Di

[2022-08-04 23:19] RylanSchaeffer commented on #249
Can one of you please clarify what a `rsatoolbox.inference.result.Result`'s `.evaluations` are?

The demo doesn't really say, and the documentation just says these are "evaluations." What is the actual evaluation or test or measurement being performed?

[2022-08-04 23:25] RylanSchaeffer commented on #249
Now I'm even more confused. Under the hood, `eval_fixed` just calls `compare(rdm_pred, data, method)` for each model. Where is model evaluation performed? Where is some notion of cross validation or generalization or a statistical test for significance/effect size computed?

[2022-08-05 00:12] nkriegeskorte commented on #249
the model evaluations (e.g. using a correlation between data and model RDM)
are performed inside the bootstrap loop.
for a conceptual description of the inference, see heiko's paper linked
above.

____________________________________________________
Nikolaus Kriegeskorte, PhD
Professor of Psychology and Neuroscience
Affiliated member, Department of Electrical Engineering
Director of Cognitive Imag

[2022-08-22 22:41] JasperVanDenBosch opened #250 "copy() method for RDMs"
Standard library `copy.deepcopy` could be an alternative but it's not guaranteed that it plays nice with all our arrays of arrays etc.

One use case if for the methods that operate in place (e.g. `reorder`), if you want to keep the original.

[2022-08-25 08:32] El-Suri opened #252 "Invalid value when running searchlight"
Hello,

I am currently running a searchlight analysis using `get_searchlight_RDMs`. However I get the following warning:

"Calculating RDMs...:   0%|          | 0/100 [00:00<?, ?it/s]/miniconda3/lib/python3.9/site-packages/rsatoolbox/rdm/calc.py:209: RuntimeWarning: invalid value encountered in true_divide
  ma /= np.sqrt(np.einsum('ij,ij->i', ma, ma))[:, None]"

This is despite having run `data_2

[2022-08-26 14:38] El-Suri commented on #252
Hello,

I solved the issue, it was to do with the way I was reshaping the data which caused not all of the trials to be there, thus when it was taking the mean of the trials, if there were no trials left at all for that category type (as was the case for trial types 1 and 11) then it would produce a NaN. Therefore this wasn't as issue with your package and I will close, thanks!

[2022-08-26 14:38] #252 closed, assigned to nobody

[2022-08-31 16:06] jones-michael-s commented on #248
Hello,

I was able to find a workaround that fixes the crash (pass a list of nifti files and extract the voxel data in the Python script rather than reading in a ginormous mat file of the voxel data extracted in Matlab).

However I'm still getting a runtime warning from  _eval_fixed_ in the call to evaluate_models_searchlight:

[code]

I suspect this is because I'm testing a single subject, so N-1

[2022-09-01 16:21] jones-michael-s opened #254 "Yet another searchlight runtime warning"
Getting an invalid multiplication warning during `evaluate_models_searchlight`

[code]

FYI: Inference_util.py line 145 is in `_nan_mean()`

The behavior changes depending on the `n_jobs` setting in the call to `evaluate_models_searchlight`.

The warning never occurs if n_jobs=1. If n_jobs >1, typically 2-3 warnings will be generated but at different percent completion on each run. For example, us

[2022-09-02 16:03] jones-michael-s commented on #254
Quick followup:

The line generating the warning is the following:

`rdm_mean = np.empty((1, rdm_vector.shape[1])) * np.nan
`

if you use np.random instead of np.empty to create the vector, the warning  no longer occurs:

`rdm_mean = np.random.rand(1, rdm_vector.shape[1]) * np.nan
`

(multiplying by np.nan inits the elements to nan, as in the original code).

Don't know if that tells anyone anythi

[2022-09-02 16:24] JasperVanDenBosch commented on #254
Hi Michael,
Thanks for reporting this. A rework of the searchlight is in the works, but I probably won't get to to till the week of the 12th.

[2022-09-02 16:29] HeikoSchuett commented on #254
Hi @jones-michael-s ,

Thanks for reporting this issue!
so first of all: You don't have to worry about this warning. It is really just setting the values to NaN here such that multiplying with invalid values is entirely expected. Even if it removes the warning I would not like to run the random number generation, as this is relatively slow (at least much slower than initializing and empty array).

[2022-09-02 16:30] JasperVanDenBosch commented on #254
I agree with @HeikoSchuett that switching to random is not ideal, also because the presence of nans in the result would clearly indicate that something went wrong "upstream"

[2022-09-02 18:15] #254 closed, assigned to nobody

[2022-09-02 18:36] HeikoSchuett commented on #248
Hi @jones-michael-s, I just built in a check for the last set of Warnings you encounter in #256 . If this fixes your issue here I think this would close this issue for now.

For the issues with the data loaded from MATLAB it looks a bit like it might be due to some importing problems from there rather than a problem with the toolbox.

Could you confirm these two statements, i.e. that we don't need

[2022-09-02 20:18] swasun opened #257 "How to cite rsatoolbox"
Hello,

Thank you for developing this useful package. I'd like to know if there's a preferred way to cite your package in my paper.

Best

Charly Lamothe

[2022-09-04 09:54] JasperVanDenBosch commented on #257
Hi Charly,
Glad you found it useful!
We are working on an overview paper. In the mean time,
here is a complete list of references: https://rsatoolbox.readthedocs.io/en/latest/literature_cited.html
It's not complete, this is one of the more recent ones:

https://arxiv.org/abs/2112.09200

Basically it comes down a bit to which specific methods were important for your analysis..

[2022-09-04 21:54] swasun commented on #257
Ty for your fast and useful answer!

[2022-09-04 21:54] #257 closed, assigned to nobody

[2022-09-05 16:00] jones-michael-s commented on #248
Hi @HeikoSchuett

1) the workaround I mention in my previous comment seems to have fixed (or at least avoids) the data importing problem. No further action is needed on this.

2) the change included in your latest PR indeed fixes the runtime warnings `_nan_mean` was generating (thanks!). However, `eval_fixed` is still giving the warning I describe.  Perhaps a tweak could be made to `eval_fixed`(li

[2022-09-06 14:05] HeikoSchuett opened #258 "Enable install through conda"
**Is your feature request related to a problem? Please describe.**
At the moment, the package cannot be installed through conda/anaconda because it is not available there.
Also, `petname==2.2` is not available there, but required.

**Describe the solution you'd like**
Include petname=2.2 and make a conda package to enable conda installs.

**Describe alternatives you've considered**
pip install and

[2022-09-06 14:12] HeikoSchuett commented on #248
Hi @jones-michael-s,
I had opened another pull request already, #256 , which should address the single subject case in eval_fixed, too. I'll merge that now then and close this issue.
Evaluating only on a single subject most methods for error bar estimation will now work, but I think you should get the correlation values without warnings I think.

[2022-09-20 12:39] andreifoldes opened #261 "Scatter plot to complement rsatoolbox.vis.plot_model_comparison"
Thanks for this toolbox!

**Is your feature request related to a problem? Please describe.**
When I study a given ROI and see wide noise ceilings it would be useful to see how much of that is driven by a few data points or not.

**Describe the solution you'd like**
I think having the option to overlay the bar plot with a scatter plot - or having a box plot+scatter plot combo optionally would be ve

[2022-09-28 16:55] psychNerdJae opened #263 "`fit_regress_nn` returns array of `nan` when all weights are zero"
Presently, `fit_regress_nn` returns the following:
`theta.flatten() / np.sqrt(np.sum(theta ** 2))`

If all weights in `theta` are exactly zero, this returns a vector of `nan` instead of zeroes, as theta is divided by zero.

[2022-09-28 18:59] jdiedrichsen commented on #263
Yes- it is not clear to me why the regression weights would be standardized at all (here or in any other fitting function). This seems to be a pretty undesireable feature? @HeikoSchuett ? @ilogue

[2022-09-29 03:54] psychNerdJae opened #264 "Extracting and visualizing statistical inference"
Thanks for the great toolbox, I've quite enjoyed using it. I have a suggestion that I think might improve the usability of the statistical inference procedures.

**Is your feature request related to a problem? Please describe.**
Once an object of class `rsatoolbox.inference.result.Result` is created, it is difficult to extract (e.g.) a table of statistics from running inferential tests. It is very

[2022-09-30 14:07] nimarek opened #265 "weighted models, searchlights and theta"
First of all, thank you to all the people who invest their time in this great project!

I am currently working on a whole-brain fMRI analysis using the *searchlight*, the *ModelWeighted* and the *fit_regress* functions. For each searchlight, there are 5 possible candidate RDMs from behavioral data. An evaluation using *evaluate_models_searchlight* and *ModelWeighted* already works and now I would

[2022-10-03 19:35] HeikoSchuett commented on #263
Hi @psychNerdJae & @jdiedrichsen,
it certainly seems undesirable to return the NaNs here, this is true. I coded in the standardization, because (almost) all comparison methods yield the same evaluation for any scaling of the RDM, such that the solution space always contains a whole line not a single parameter value. To yield consistent results, I thought it was better to standardize the weights th

[2022-10-04 00:32] HeikoSchuett commented on #261
Hi @andreifoldes,
I assume the different data points you're talking about here would be the evaluations for different subjects, correct? In that case this would be a very sensible plotting option. This won't work with all error bar estimates though, as some of them are based on variability across the conditions or both conditions and subjects. I included this in a pull request #266 right now, can

[2022-10-04 15:48] andreifoldes commented on #261
Yes thank you!

[2022-10-04 17:13] JasperVanDenBosch opened #267 "calc_rdm_euclid should be calc_rdm_euclidean"
**Is your feature request related to a problem? Please describe.**
The other `calc` methods' names correspond to the method argument string

**Describe the solution you'd like**
`calc_rdm_euclidean` instead of `calc_rdm_euclid`

[2022-10-04 17:18] JasperVanDenBosch opened #268 "Improve Contributing Guide"
- add a TLDR
- Type Hints see #177
- NaN policy

[2022-10-10 02:47] HeikoSchuett commented on #264
Hi @psychNerdJae ,
thank you for your thoughtful comments! I agree that giving the users more access to the test results is a great idea.

As the results object is already a summary of the results, I would prefer a solution that does not create another (list or dictionary) object from this one. The computations to extract the values you ask for from the results object do not take much time. They a

[2022-10-10 03:11] HeikoSchuett commented on #265
Hi @nimarek,

sorry for the delay. The assertion indicates that you passed a single set of parameters, but multiple models. I guess, that you created 5 ModelWeighted instances for the five behavioral RDMs? If that is the case, simply passing a single ModelWeighted instance with the 5 RDMs inside should do the trick. Or are you running the evaluation through the searchlight implementation already?

[2022-10-11 07:14] RylanSchaeffer commented on #249
Oh this is great - thank you!

Cheers,
Rylan Schaeffer

On Thu, Aug 4, 2022 at 2:22 PM nkriegeskorte ***@***.***>
wrote:

[2022-10-13 17:11] HeikoSchuett commented on #264
I now implemented some functions to extract the test results in a pull request. Could you check whether this does what you wanted to do?

I will remove the code duplicates from the model plot function before I merge the pull request.

[2022-10-13 17:47] psychNerdJae commented on #264
Hi @HeikoSchuett, thanks for your quick response/implementation, and apologies for the delayed response on my end. Yes, this looks good to me! The new methods (`test_x` and `get_x`) for the Results object provide exactly the functionality I had in mind.

I think they also provide some of the functionality alluded to in [the documentation](https://rsatoolbox.readthedocs.io/en/latest/inference.html)

[2022-10-13 17:47] #264 closed, assigned to nobody

[2022-10-19 15:44] andreifoldes opened #272 "Add pattern descriptor to get_searchlight_RDMs output"
**Is your feature request related to a problem? Please describe.**
I think it would be very useful if users could call subset_pattern function on the results of _get_searchlight_RDMs_
eg.: SL_RDM.subset_pattern('events', ['cond1','cond2', 'cond3']) thus achieving easy "bulk RDM" subsetting.

Ideally one could run a searchlight for comparing all N conditions and then later subsample to analyse a pa

[2022-10-25 13:44] JasperVanDenBosch commented on #258
removing petname in #251

[2022-11-05 08:50] JasperVanDenBosch opened #276 "plot_model_comparison: zero-size array to reduction operation maximum which has no identity"
**Describe the bug**
The acceptance test running the "exercise_all" demo sometimes fails with:
`ValueError: zero-size array to reduction operation maximum which has no identity` from the `.max()` in plot_arrows

**stack trace**
[code]

[2022-11-07 13:51] JasperVanDenBosch commented on #258
some observations
- this is gonna require an x86 windows box
- conda-covert doesn't apply to us
- no cross-compilation

resources
- to bootstrap meta.yaml: https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs-skeleton.html
- general guide https://python-packaging-tutorial.readthedocs.io/en/latest/conda.html
- conda-forge path https://medium.com/runic-software/simple

[2022-11-08 10:52] JasperVanDenBosch commented on #276
Closing this as I can't replicate anymore. Possibly a side effect of a faulty installation.

[2022-11-08 10:52] #276 closed, assigned to nobody

[2022-11-08 11:02] JasperVanDenBosch commented on #249
I'll close this as it seems @RylanSchaeffer 's question was resolved

[2022-11-08 11:02] #249 closed, assigned to nobody

[2022-11-08 11:04] JasperVanDenBosch commented on #222
As there is no further questions, I'm considering this was resolved and closing it

[2022-11-08 11:04] #222 closed, assigned to nobody

[2022-11-08 11:07] JasperVanDenBosch commented on #203
Would we consider them equal if all constituent properties are equal? Would it include descriptors? Or some more advanced thing where we take into account rounding or some tolerance?

[2022-11-08 11:14] JasperVanDenBosch commented on #40
We do get unused imports more generally speaking in our current setup. Closing

[2022-11-08 11:14] #40 closed, assigned to JasperVanDenBosch

[2022-11-08 11:28] JasperVanDenBosch opened #277 "Optional function-based API"
This is the idea to have an additional way to program with `rsatoolbox` where the user can pass data arrays directly into functions, as discussed previously alongside #160

[code]

We currently have no urgency in implementing this but this issue is here to keep the idea around.

[2022-11-08 11:28] JasperVanDenBosch commented on #160
We've now come so far that it's safe to say we'll stick with the current approach for internal structure for a while.
As for an additional, functional interface, that should be a separate issue: #160

[2022-11-08 11:28] #160 closed, assigned to nobody

[2022-11-08 11:29] JasperVanDenBosch commented on #98
Just noting that the referenced PR in scikit-learn is still open

[2022-11-08 11:34] JasperVanDenBosch commented on #202
I've forgotten the use-case for this (probably performance and sparse itvs).

[2022-11-08 11:34] #202 closed, assigned to nobody

[2022-11-08 11:46] JasperVanDenBosch opened #278 "Missing documentation for Visualisation"
The visualisation section of the documentation has some major gaps: https://rsatoolbox.readthedocs.io/en/latest/visualization.html

[2022-11-08 12:04] JasperVanDenBosch opened #279 "Improve readthedocs versioning inline with new release management"
- remove the tag v3.0.0.post20201106 as rtd considers it the latest for stable (as opposed to GitHub)
- enable stable builds for rtd
- display version on all documentation pages

[2022-11-14 09:27] ssalzgeber commented on #37
Hello, the files are still missing - will this be fixed?

[2022-11-14 14:27] caiw commented on #37
A note to myself because otherwise I check every time I come across this issue: I have checked my local files and I do not have a copy of either of these functions. It must have sat in the Matlab Path on my work machine but not been included in the repo. Hopefully one of the other OG devs has a copy? @awalther did the original push to Github — do you have a copy?

[2022-11-15 10:15] JasperVanDenBosch commented on #232
let's also look at this deprecation
[code]

[2022-11-15 17:01] JasperVanDenBosch commented on #232
luminance 0->max
default map but options

[2022-11-15 17:11] JasperVanDenBosch commented on #232
send around some options as a colorbar+sample RDM

[2022-11-29 16:26] #263 closed, assigned to nobody